In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [55]:
df = pd.read_csv("merged_lucy_0818.csv")
df = df.drop("muerge")

In [56]:
df[df.gameName == '워록']

,Unnamed: 0,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,커뮤니티,언론,페이스북,정부_공공,인스타그램,카카오스토리,기업_단체,지식인,트위터,유투브
113,113,워록,135,-21,0.01,0.05,-0.01,232,67,205,...,32,0,0,0,0,0,0,0,73,0
255,255,워록,114,8,0.02,0.07,0.00,294,94,186,...,23,0,0,0,0,0,0,0,40,0
423,423,워록,122,0,0.02,0.06,0.00,232,77,179,...,30,0,0,0,0,0,1,1,46,0
584,584,워록,122,-8,0.02,0.06,0.00,261,91,172,...,42,0,0,0,0,0,0,1,43,0
739,739,워록,114,6,0.02,0.07,0.00,387,96,242,...,17,0,0,0,0,0,0,0,42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58214,58214,워록,105,5,0.02,0.07,0.00,865,89,578,...,1,0,0,0,0,0,0,0,70,0
58378,58378,워록,110,-4,0.02,0.06,0.00,785,92,512,...,5,0,0,0,0,0,0,0,62,0
58537,58537,워록,106,9,0.02,0.07,0.00,726,91,477,...,3,0,0,0,0,0,0,1,80,1
58706,58706,워록,115,-8,0.02,0.06,0.00,611,79,463,...,6,0,0,0,0,0,0,0,69,0
58858,58858,워록,107,5,0.02,0.07,0.00,826,88,563,...,1,0,0,0,0,0,0,0,67,0

In [57]:
cf = pd.read_csv("controlMerge.csv")
cf

,month,gameName,date,search,weekday,holiday,date_real,marketentry,marketentryName,company,age,employee,sales,firmsize,CPI_total,CPI_enterCul
0,1,7DaysToDie,20200102,14.45544,4,0,2020-01-02,NaN,NaN,더 펀 핌스,NaN,NaN,NaN,NaN,105.8,101.8
1,1,7DaysToDie,20200101,13.66336,3,0,2020-01-01,NaN,NaN,더 펀 핌스,NaN,NaN,NaN,NaN,105.8,101.8
2,1,7DaysToDie,20200106,9.50495,1,0,2020-01-06,NaN,NaN,더 펀 핌스,NaN,NaN,NaN,NaN,105.8,101.8
3,1,7DaysToDie,20200103,12.87128,5,0,2020-01-03,NaN,NaN,더 펀 핌스,NaN,NaN,NaN,NaN,105.8,101.8
4,1,7DaysToDie,20200104,8.51485,6,1,2020-01-04,NaN,NaN,더 펀 핌스,NaN,NaN,NaN,NaN,105.8,101.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59652,12,히어로즈오브더스톰,20201227,0.7183,7,1,2020-12-27,NaN,NaN,블리자드 엔터테인먼트,1991.0,148.0,"45,347,890,000.00",1.0,105.7,100.0
59653,12,히어로즈오브더스톰,20201228,0.51434,1,0,2020-12-28,NaN,NaN,블리자드 엔터테인먼트,1991.0,148.0,"45,347,890,000.00",1.0,105.7,100.0
59654,12,히어로즈오브더스톰,20201229,0.50547,2,0,2020-12-29,NaN,NaN,블리자드 엔터테인먼트,1991.0,148.0,"45,347,890,000.00",1.0,105.7,100.0
59655,12,히어로즈오브더스톰,20201230,0.50104,3,0,2020-12-30,NaN,NaN,블리자드 엔터테인먼트,1991.0,148.0,"45,347,890,000.00",1.0,105.7,100.0
59656,12,히어로즈오브더스톰,20201231,0.60745,4,0,2020-12-31,NaN,NaN,블리자드 엔터테인먼트,1991.0,148.0,"45,347,890,000.00",1.0,105.7,100.0

In [58]:
cf[cf.gameName == '프리스타일풋볼Z']

,month,gameName,date,search,weekday,holiday,date_real,marketentry,marketentryName,company,age,employee,sales,firmsize,CPI_total,CPI_enterCul
3614,1,프리스타일풋볼Z,20200103,9.93271,5,0,2020-01-03,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.8,101.8
3615,1,프리스타일풋볼Z,20200104,14.70682,6,1,2020-01-04,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.8,101.8
3616,1,프리스타일풋볼Z,20200105,14.00192,7,1,2020-01-05,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.8,101.8
3617,1,프리스타일풋볼Z,20200106,9.29189,1,0,2020-01-06,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.8,101.8
3618,1,프리스타일풋볼Z,20200107,11.5668,2,0,2020-01-07,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.8,101.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59354,12,프리스타일풋볼Z,20201215,5.44697,2,0,2020-12-15,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.7,100.0
59355,12,프리스타일풋볼Z,20201216,5.83146,3,0,2020-12-16,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.7,100.0
59356,12,프리스타일풋볼Z,20201217,6.24799,4,0,2020-12-17,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.7,100.0
59357,12,프리스타일풋볼Z,20201218,4.80615,5,0,2020-12-18,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.7,100.0
59358,12,프리스타일풋볼Z,20201219,5.83146,6,1,2020-12-19,NaN,NaN,(주)조이시티,1994.0,270.0,165383798991(원),1.0,105.7,100.0

In [59]:
cf = cf.drop("marketentryName", axis = 1)

In [64]:
cf = cf.dropna(subset=['employee'])

In [65]:
cf = cf.rename({"gameme":"gameName"}, axis = 1)

In [66]:
af = pd.merge(df, cf, on=["gameName", 'date'])

In [67]:
af

,Unnamed: 0,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,holiday,date_real,marketentry,company,age,employee,sales,firmsize,CPI_total,CPI_enterCul
0,0,리그오브레전드,1,0,43.96,93.28,-0.94,1064167,104,613929,...,0,2020-12-31,NaN,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0
1,1,피파온라인4,2,1,8.54,94.85,0.94,206673,59,208673,...,0,2020-12-31,NaN,일렉트로닉 아츠 코리아,1998.0,260.0,NaN,1.0,105.7,100.0
2,2,서든어택,3,-1,7.70,36.54,-0.33,186320,73,152465,...,0,2020-12-31,NaN,넥슨지티(주),1993.0,168.0,"27,837,747,470.00",1.0,105.7,100.0
3,3,배틀그라운드,4,0,7.05,33.43,-0.37,170466,95,106982,...,0,2020-12-31,NaN,펍지주식회사,2009.0,453.0,1.05E+12,2.0,105.7,100.0
4,4,오버워치,5,0,4.62,21.94,-0.12,111836,88,75568,...,0,2020-12-31,NaN,블리자드엔터테인먼트,1991.0,148.0,"45,347,890,000.00",1.0,105.7,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53431,58921,포키포키,226,3,0.01,0.05,0.00,79,79,60,...,0,2020-01-01,NaN,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8
53432,58922,엠게임훌라,240,-23,0.01,0.07,0.00,55,77,43,...,0,2020-01-01,NaN,(주)엠게임,1999.0,108.0,"42,309,300,000.00",1.0,105.8,101.8
53433,58923,엠게임사천성,242,-3,0.01,0.07,0.00,53,53,60,...,0,2020-01-01,NaN,(주)엠게임,1999.0,108.0,"42,309,300,000.00",1.0,105.8,101.8
53434,58924,피망상하이플러스,249,7,0.01,0.06,0.00,47,52,54,...,0,2020-01-01,NaN,(주)네오위즈,2007.0,912.0,"289,606,000,000.00",2.0,105.8,101.8
53435,58925,내맘대로Z9별,255,-55,0.01,0.01,0.00,38,41,56,...,0,2020-01-01,NaN,코스모스엔터테인먼트(주),2015.0,15.0,NaN,0.0,105.8,101.8

136개의 게임

In [40]:
af.columns

Index(['Unnamed: 0', 'gameName', 'gameRank', 'gameRankUpDown', 'gameShares',
       'gameTypeShares', 'sharesUpDown', 'timeCountTotal', 'avgUsedTime',
       'userCountTotal', 'useStoreCount', 'publisher', 'payType',
       'gameTypeName', 'date', '블로그_x', '카페_x', '커뮤니티_x', '언론_x', '페이스북_x',
       '정부_공공_x', '인스타그램_x', '카카오스토리_x', '기업_단체_x', '지식인_x', '트위터_x', '유투브_x',
       '블로그_y', '카페_y', '커뮤니티_y', '언론_y', '페이스북_y', '정부_공공_y', '인스타그램_y',
       '카카오스토리_y', '기업_단체_y', '지식인_y', '트위터_y', '유투브_y', '블로그', '카페', '커뮤니티',
       '언론', '페이스북', '정부_공공', '인스타그램', '카카오스토리', '기업_단체', '지식인', '트위터', '유투브',
       'month', 'search', 'weekday', 'holiday', 'marketentry', 'marketentryme',
       'company', 'age', 'employee', 'sales', 'firmsize', 'CPI_total',
       'CPI_enterCul'],
      dtype='object')

In [46]:
lst = list(af['gameName'])
gamelst = []
for i in range(len(lst)):
    if (df[df['gameName'] == lst[i]].shape[0]) == 366:
        gamelst.append(lst[i])

In [45]:
af = pd.read_csv("mergeFirmVar_0818.csv", index_col = False)

In [52]:
af = af.drop("Unnamed: 0", axis = 1)
df = af

In [19]:
af.to_csv("mergeFirmVar_0818.csv")

In [68]:
nation = pd.read_excel("nation.xlsx")
nation

          gameName         company nation
0          리그오브레전드         라이엇 게임즈     외국
1           피파온라인4    일렉트로닉 아츠 코리아     외국
2             서든어택         넥슨지티(주)     외국
3           배틀그라운드          펍지주식회사     한국
4             오버워치      블리자드엔터테인먼트     외국
..             ...             ...    ...
155   SlaytheSpire      메가 크리트 게임즈     외국
156        내맘대로Z9별  코스모스엔터테인먼트(주)      한국
157  TeamFortress2        밸브 코퍼레이션     외국
158         넷마블베가세             넷마블     한국
159         FIFA20    일렉트로닉 아츠 코리아     외국

[160 rows x 3 columns]

In [69]:
nlst = list(nation['nation'])
numlst = []
for i in range(len(nlst)):
    if nlst[i] == '한국':
        numlst.append(1)
    if nlst[i] == '외국':
        numlst.append(0)
nation['nationnum'] = numlst

In [70]:
nation

          gameName         company nation  nationnum
0          리그오브레전드         라이엇 게임즈     외국          0
1           피파온라인4    일렉트로닉 아츠 코리아     외국          0
2             서든어택         넥슨지티(주)     외국          0
3           배틀그라운드          펍지주식회사     한국          1
4             오버워치      블리자드엔터테인먼트     외국          0
..             ...             ...    ...        ...
155   SlaytheSpire      메가 크리트 게임즈     외국          0
156        내맘대로Z9별  코스모스엔터테인먼트(주)      한국          1
157  TeamFortress2        밸브 코퍼레이션     외국          0
158         넷마블베가세             넷마블     한국          1
159         FIFA20    일렉트로닉 아츠 코리아     외국          0

[160 rows x 4 columns]

In [71]:
nation = nation.append({"gameName":"포트리스2RED", 'company': '코스모스엔터테인먼트(주)', 'nation':'한국', 'nationnum':'1'}, ignore_index = True)

In [72]:
mergeNation = pd.merge(af, nation, on = "gameName")

In [73]:
mergeNation

,Unnamed: 0,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,company_x,age,employee,sales,firmsize,CPI_total,CPI_enterCul,company_y,nation,nationnum
0,0,리그오브레전드,1,0,43.96,93.28,-0.94,1064167,104,613929,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
1,161,리그오브레전드,1,0,44.90,93.55,0.53,998016,106,561626,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
2,322,리그오브레전드,1,0,44.37,93.55,0.33,947251,108,525700,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
3,483,리그오브레전드,1,0,44.04,93.63,1.27,956578,107,535318,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
4,644,리그오브레전드,1,0,42.77,93.34,-0.50,1212024,114,635829,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53431,58281,포키포키,260,0,0.01,0.02,0.00,36,41,53,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53432,58442,포키포키,260,-25,0.01,0.02,0.00,30,49,37,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53433,58602,포키포키,235,-13,0.01,0.05,0.00,53,97,33,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53434,58759,포키포키,222,4,0.01,0.06,0.00,62,103,36,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53435,58921,포키포키,226,3,0.01,0.05,0.00,79,79,60,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1

In [74]:
#MergeNation 에서 무슨 게임 빠졌는지 찾기
mlst = list(mergeNation['gameName'])
alst = list(af['gameName'])
for x in alst:
    if x not in mlst:
        print(x)

In [6]:
noGov = mergeNation.drop(['정부_공공_x','정부_공공_y','정부_공공'], axis = 1)

NameError: name 'mergeNation' is not defined

In [76]:
mergeNation.to_csv("mergeNation_0818.csv")

In [44]:
noGov.to_csv("noGov_0818.csv")

In [3]:
nf = pd.read_csv("mergeNation_0818.csv")
nf = nf.drop(["Unnamed: 0", "Unnamed: 0.1"], axis = 1)

In [4]:
nf

,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,useStoreCount,...,company_x,age,employee,sales,firmsize,CPI_total,CPI_enterCul,company_y,nation,nationnum
0,리그오브레전드,1,0,43.96,93.28,-0.94,1064167,104,613929,7991,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
1,리그오브레전드,1,0,44.90,93.55,0.53,998016,106,561626,7964,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
2,리그오브레전드,1,0,44.37,93.55,0.33,947251,108,525700,7962,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
3,리그오브레전드,1,0,44.04,93.63,1.27,956578,107,535318,7935,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
4,리그오브레전드,1,0,42.77,93.34,-0.50,1212024,114,635829,7960,...,라이엇 게임즈,2011.0,121.0,3.75E+11,1.0,105.7,100.0,라이엇 게임즈,외국,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53431,포키포키,260,0,0.01,0.02,0.00,36,41,53,26,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53432,포키포키,260,-25,0.01,0.02,0.00,30,49,37,23,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53433,포키포키,235,-13,0.01,0.05,0.00,53,97,33,25,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53434,포키포키,222,4,0.01,0.06,0.00,62,103,36,15,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1
53435,포키포키,226,3,0.01,0.05,0.00,79,79,60,21,...,네오액트,1999.0,37.0,"2,100,250,000.00",0.0,105.8,101.8,네오액트,한국,1

In [5]:
nf.columns

Index(['gameName', 'gameRank', 'gameRankUpDown', 'gameShares',
       'gameTypeShares', 'sharesUpDown', 'timeCountTotal', 'avgUsedTime',
       'userCountTotal', 'useStoreCount', 'publisher', 'payType',
       'gameTypeName', 'date', '블로그_x', '카페_x', '커뮤니티_x', '언론_x', '페이스북_x',
       '정부_공공_x', '인스타그램_x', '카카오스토리_x', '기업_단체_x', '지식인_x', '트위터_x', '유투브_x',
       '블로그_y', '카페_y', '커뮤니티_y', '언론_y', '페이스북_y', '정부_공공_y', '인스타그램_y',
       '카카오스토리_y', '기업_단체_y', '지식인_y', '트위터_y', '유투브_y', '블로그', '카페', '커뮤니티',
       '언론', '페이스북', '정부_공공', '인스타그램', '카카오스토리', '기업_단체', '지식인', '트위터', '유투브',
       'month', 'search', 'weekday', 'holiday', 'date_real', 'marketentry',
       'company_x', 'age', 'employee', 'sales', 'firmsize', 'CPI_total',
       'CPI_enterCul', 'company_y', 'nation', 'nationnum'],
      dtype='object')

# 각 게임마다

In [53]:

average_gameshare = []
average_gameTypeShare = []
gameType = []
p_sum = []
n_sum = []
neu_sum = []
for i in range(len(gamelst)):
    average_gameshare.append(round(df[df.gameName == gamelst[i]].gameShares.sum()/366,2))
    average_gameTypeShare.append(round(df[df.gameName == gamelst[i]].gameTypeShares.sum()/366,2))
    a = df[df.gameName == gamelst[i]]
    gameType.append(a.iloc[1].gameTypeName)
    p_sum.append(df[df.gameName == gamelst[i]].sum()[14:26].sum())
    n_sum.append(df[df.gameName == gamelst[i]].sum()[26:38].sum())
    neu_sum.append(df[df.gameName == gamelst[i]].sum()[38:50].sum())
avdf = pd.DataFrame({'gameName': gamelst, 
                    'gameshare': average_gameshare,
                     
                    'gameTypeshare': average_gameTypeShare,
                    'gameType': gameType,
                    'Positive': p_sum,
                    'Negative':n_sum,
                    'Neutral': neu_sum})
avdf

      gameName  gameshare  gameTypeshare gameType  Positive  Negative  Neutral
0      리그오브레전드      48.64          93.58      RTS    322139    244772   858273
1       피파온라인4       6.77          91.57      스포츠     13073     10772    67338
2         서든어택       5.57          26.34      FPS     18301      8332    57318
3       배틀그라운드       7.42          35.12      FPS     65200     16481   126390
4        로스트아크       1.36          10.92      RPG     13601      6352    30846
...        ...        ...            ...      ...       ...       ...      ...
47209    믹스마스터       0.01           0.03      RPG       586       275     1407
47210    야채부락리       0.01           0.02      RPG       291       363     1848
47211    네이비필드       0.01           0.01      RTS        78        91      412
47212     포키포키       0.01           0.07       액션       723       546     3947
47213  내맘대로Z9별       0.01           0.04      RPG        20       130      153

[47214 rows x 7 columns]