In [1]:
import pandas as pd

In [3]:
pubcode = pd.read_csv("C:\\Users\\sh921\\Desktop\\publisherCode.csv")
pubcode.head()

       publisher  publisherCode  aboard
0             스팀              1       0
1       일렉트로닉 아츠              2       0
2      Origin/스팀              3       0
3          ㈜웨이투빗              4       1
4  스팀/Epic Games              5       0

In [5]:
master = pd.read_csv("C:\\Users\\sh921\\Desktop\\merge_master_ver10.csv")
master.head()

C:\Users\sh921\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (20,97,103,104,105,162) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,gamename,date,month,year,yr2019,yr2020,yr2021,week,gamecode,ln_timecounttotal,...,pub31,pub32,pub33,pub34,pub35,pub36,lag_timecounttotal,lag_avgusedtime,lag_usercounttotal,search
0,7DaysToDie,20190117,1,1,1,0,0,1,158.0,5.219183,...,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,0.46253
1,7DaysToDie,20190118,1,1,1,0,0,1,158.0,5.184021,...,0,0,0,0.0,0.0,0.0,0.016565,9.744,0.017,0.83256
2,7DaysToDie,20190119,1,1,1,0,0,1,158.0,5.418132,...,0,0,0,0.0,0.0,0.0,0.015276,6.111,0.025,0.87881
3,7DaysToDie,20190120,1,1,1,0,0,1,158.0,5.340993,...,0,0,0,0.0,0.0,0.0,0.026190,9.031,0.029,0.83256
4,7DaysToDie,20190121,1,1,1,0,0,2,158.0,5.233709,...,0,0,0,0.0,0.0,0.0,0.021928,7.310,0.03,1.57261

In [29]:
master.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84194 entries, 0 to 84193
Data columns (total 164 columns):
 #    Column                 Non-Null Count  Dtype
---   ------                 --------------  -----
 0    gamename               84194 non-null  object
 1    date                   84194 non-null  int64
 2    month                  84194 non-null  int64
 3    year                   84194 non-null  int64
 4    yr2019                 84194 non-null  int64
 5    yr2020                 84194 non-null  int64
 6    yr2021                 84194 non-null  int64
 7    week                   84194 non-null  int64
 8    gamecode               84194 non-null  float64
 9    ln_timecounttotal      84194 non-null  float64
 10   ln_avgusedtime         84194 non-null  float64
 11   gamecode2              84194 non-null  int64
 12   gamerank               84194 non-null  int64
 13   gamerankupdown         84194 non-null  float64
 14   gameshares             84194 non-null  float64
 15   gametypeshares         84194 non-null  float64
 16   sharesupdown           84194 non-null  int64
 17   timecounttotal         84194 non-null  int64
 18   avgusedtime            84194 non-null  int64
 19   usercounttotal         84194 non-null  int64
 20   usestorecount          84194 non-null  object
 21   gameregdate            84194 non-null  object
 22   paytype                84194 non-null  int64
 23   datecount              84194 non-null  int64
 24   ram_min                82724 non-null  float64
 25   singleplay             83459 non-null  float64
 26   teamplay               83459 non-null  float64
 27   ram_max                84194 non-null  float64
 28   cash                   84194 non-null  int64
 29   ram                    83459 non-null  float64
 30   pve                    83459 non-null  float64
 31   pvp                    83459 non-null  float64
 32   gaming_interaction     83459 non-null  float64
 33   x2019_avg              84194 non-null  float64
 34   x2020_avg              84194 non-null  float64
 35   x2021_avg              84194 non-null  float64
 36   updown_a               84194 non-null  float64
 37   updown_b               84194 non-null  float64
 38   updown_c               84194 non-null  float64
 39   med_high_a             84194 non-null  int64
 40   med_high_b             84194 non-null  int64
 41   med_high_c             84194 non-null  int64
 42   weekday1               84194 non-null  int64
 43   weekend                84194 non-null  int64
 44   regdate                84194 non-null  int64
 45   buzz_total             84194 non-null  int64
 46   buzz_pn                84194 non-null  int64
 47   buzz_neg               84194 non-null  int64
 48   buzz_pos               84194 non-null  int64
 49   comtwpr_total          84194 non-null  int64
 50   comtwpr_pn             84194 non-null  int64
 51   comtwpr_neg            84194 non-null  int64
 52   comtwpr_pos            84194 non-null  int64
 53   com_total              84194 non-null  int64
 54   com_pn                 84194 non-null  int64
 55   com_neg                84194 non-null  int64
 56   com_pos                84194 non-null  int64
 57   tw_total               84194 non-null  int64
 58   tw_pn                  84194 non-null  int64
 59   tw_neg                 84194 non-null  int64
 60   tw_pos                 84194 non-null  int64
 61   pr_total               84194 non-null  int64
 62   pr_pn                  84194 non-null  int64
 63   pr_neg                 84194 non-null  int64
 64   pr_pos                 84194 non-null  int64
 65   blog_pos               84194 non-null  int64
 66   cafe_pos               84194 non-null  int64
 67   community_pos          84194 non-null  int64
 68   press_pos              84194 non-null  int64
 69   facebook_pos           84194 non-null  int64
 70   insta_pos              84194 non-null  int64
 71   kakao_pos              84194 non-null  int64
 72   v73                    84194 non-null  int64
 73   qna_pos                84194 non-null  int64
 74   twitter_pos            84194 non-null  int64
 75   youtube_pos            84194 non-null  int64
 76   blog_neg               84194 non-null  int64
 77   caf_neg                84194 non-null  int64
 78   community_neg          84194 non-null  int64
 79   press_neg              84194 non-null  int64
 80   facebook_neg           84194 non-null  int64
 81   insta_neg              84194 non-null  int64
 82   kakao_neg              84194 non-null  int64
 83   v84                    84194 non-null  int64
 84   qna_neg                84194 non-null  int64
 85   twitter_neg            84194 non-null  int64
 86   youtube_neg            84194 non-null  int64
 87   blog_neu               84194 non-null  int64
 88   caf_neu                84194 non-null  int64
 89   community_neu          84194 non-null  int64
 90   press_neu              84194 non-null  int64
 91   facebook_neu           84194 non-null  int64
 92   insta_neu              84194 non-null  int64
 93   kakao_neu              84194 non-null  int64
 94   pr_neu                 84194 non-null  int64
 95   qna_neu                84194 non-null  int64
 96   twitter_neu            84194 non-null  int64
 97   youtube_neu            84194 non-null  object
 98   gametype               84194 non-null  object
 99   gametype_fps           84194 non-null  int64
 100  gametype_rpg           84194 non-null  int64
 101  gametype_rts           84194 non-null  int64
 102  gametype_sports        84194 non-null  int64
 103  gametype_action        84194 non-null  object
 104  gametype_casual        84194 non-null  object
 105  old_gametype           84194 non-null  object
 106  old_gametype_fps       84194 non-null  int64
 107  old_gametype_rpg       84194 non-null  int64
 108  old_gametype_rts       84194 non-null  int64
 109  old_gametype_fighting  84194 non-null  int64
 110  old_gametype_racing    84194 non-null  int64
 111  old_gametype_board     84194 non-null  int64
 112  old_gametype_shooting  84194 non-null  int64
 113  old_gametype_sports    84194 non-null  int64
 114  old_gametype_arcade    84194 non-null  int64
 115  old_gametype_action    84194 non-null  int64
 116  old_gametype_casual    84194 non-null  int64
 117  weekday_fri            84194 non-null  int64
 118  weekday_mon            84194 non-null  int64
 119  weekday_sat            84194 non-null  int64
 120  weekday_sun            84194 non-null  int64
 121  weekday_thu            84194 non-null  int64
 122  weekday_tue            84194 non-null  int64
 123  weekday_wed            84194 non-null  int64
 124  pub1                   84194 non-null  int64
 125  pub2                   84194 non-null  int64
 126  pub3                   84194 non-null  int64
 127  pub4                   84194 non-null  int64
 128  pub5                   84194 non-null  int64
 129  pub6                   84194 non-null  int64
 130  pub7                   84194 non-null  int64
 131  pub8                   84194 non-null  int64
 132  pub9                   84194 non-null  int64
 133  pub10                  84194 non-null  int64
 134  pub11                  84194 non-null  int64
 135  pub12                  84194 non-null  int64
 136  pub13                  84194 non-null  int64
 137  pub14                  84194 non-null  int64
 138  pub15                  84194 non-null  int64
 139  pub16                  84194 non-null  int64
 140  pub17                  84194 non-null  int64
 141  pub18                  84194 non-null  int64
 142  pub19                  84194 non-null  int64
 143  pub20                  84194 non-null  int64
 144  pub21                  84194 non-null  int64
 145  pub22                  84194 non-null  int64
 146  pub23                  84194 non-null  int64
 147  pub24                  84194 non-null  int64
 148  pub25                  84194 non-null  int64
 149  pub26                  84194 non-null  int64
 150  pub27                  84194 non-null  int64
 151  pub28                  84194 non-null  int64
 152  pub29                  84194 non-null  int64
 153  pub30                  84194 non-null  int64
 154  pub31                  84194 non-null  int64
 155  pub32                  84194 non-null  int64
 156  pub33                  84194 non-null  int64
 157  pub34                  84191 non-null  float64
 158  pub35                  84179 non-null  float64
 159  pub36                  84139 non-null  float64
 160  lag_timecounttotal     84082 non-null  float64
 161  lag_avgusedtime        81889 non-null  float64
 162  lag_usercounttotal     73109 non-null  object
 163  search                 43769 non-null  float64
dtypes: float64(26), int64(129), object(9)
memory usage: 105.3+ MB

<ipython-input-29-07e3471f7620>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  master.info(verbose=True, null_counts=True)

In [35]:
master['pub34'].value_counts()

0.000000     81254
1.000000       735
0.647450         1
0.649900         1
0.056316         1
             ...
0.516707         1
19.214530        1
7.997207         1
0.041180         1
34.088720        1
Name: pub34, Length: 2204, dtype: int64

In [34]:
master['pub35'].value_counts()

0.000000    71699
1.000000     1470
2.522000        6
2.064000        6
2.151000        6
            ...
1.973000        1
0.615130        1
0.242784        1
0.089896        1
0.043375        1
Name: pub35, Length: 10358, dtype: int64

In [33]:
master['pub36'].value_counts()

0.000000    43034
1.000000      736
2.413000       14
2.248000       14
2.405000       14
            ...
0.182000        1
0.210912        1
0.201044        1
0.046390        1
0.387542        1
Name: pub36, Length: 34327, dtype: int64

In [8]:
code = pd.read_csv("C:\\Users\\sh921\\Desktop\\merge_master_ver2.csv")
code.head()

               gameName  gameCode  publisher
0            7DaysToDie       158         스팀
1              AMONG US       207         스팀
2                ANTHEM       175   일렉트로닉 아츠
3          APEX LEGENDS       172  Origin/스팀
4  ARK:Survival Evolved        79         스팀

In [11]:
code2 = pd.merge(code, pubcode, how='left',on=('publisher') )
code2

                 gameName  gameCode  publisher  publisherCode  aboard
0              7DaysToDie       158         스팀              1       0
1                AMONG US       207         스팀              1       0
2                  ANTHEM       175   일렉트로닉 아츠              2       0
3            APEX LEGENDS       172  Origin/스팀              3       0
4    ARK:Survival Evolved        79         스팀              1       0
..                    ...       ...        ...            ...     ...
166                 출조낚시왕       133         웹젠             12       1
167                 카발온라인        93      플레이위드             32       1
168         카운터-스트라이크 온라인        41         넥슨             25       1
169                 카트라이더         8         넥슨             25       1
170                  칼온라인       151         웹젠             12       1

[171 rows x 5 columns]

In [14]:
code2 = code2.rename(columns={'gameCode':'gamecode'})

In [15]:
code2 = code2.rename(columns={'gameName':'gamename'})

In [17]:
code2.head()

               gamename  gamecode  publisher  publisherCode  aboard
0            7DaysToDie       158         스팀              1       0
1              AMONG US       207         스팀              1       0
2                ANTHEM       175   일렉트로닉 아츠              2       0
3          APEX LEGENDS       172  Origin/스팀              3       0
4  ARK:Survival Evolved        79         스팀              1       0

In [19]:
master2 = pd.merge(master, code2, how='left',on=('gamename','gamecode'))
master2.head()

C:\Users\sh921\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1141: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,gamename,date,month,year,yr2019,yr2020,yr2021,week,gamecode,ln_timecounttotal,...,pub34,pub35,pub36,lag_timecounttotal,lag_avgusedtime,lag_usercounttotal,search,publisher,publisherCode,aboard
0,7DaysToDie,20190117,1,1,1,0,0,1,158.0,5.219183,...,0.0,0.0,0.0,NaN,NaN,NaN,0.46253,스팀,1.0,0.0
1,7DaysToDie,20190118,1,1,1,0,0,1,158.0,5.184021,...,0.0,0.0,0.0,0.016565,9.744,0.017,0.83256,스팀,1.0,0.0
2,7DaysToDie,20190119,1,1,1,0,0,1,158.0,5.418132,...,0.0,0.0,0.0,0.015276,6.111,0.025,0.87881,스팀,1.0,0.0
3,7DaysToDie,20190120,1,1,1,0,0,1,158.0,5.340993,...,0.0,0.0,0.0,0.026190,9.031,0.029,0.83256,스팀,1.0,0.0
4,7DaysToDie,20190121,1,1,1,0,0,2,158.0,5.233709,...,0.0,0.0,0.0,0.021928,7.310,0.03,1.57261,스팀,1.0,0.0

In [28]:
master2['datecount'].value_counts()

735    54059
0       8820
1       8085
4       5145
2       4410
8       2940
3        735
Name: datecount, dtype: int64

In [26]:
master2.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84194 entries, 0 to 84193
Data columns (total 167 columns):
 #    Column                 Non-Null Count  Dtype
---   ------                 --------------  -----
 0    gamename               84194 non-null  object
 1    date                   84194 non-null  int64
 2    month                  84194 non-null  int64
 3    year                   84194 non-null  int64
 4    yr2019                 84194 non-null  int64
 5    yr2020                 84194 non-null  int64
 6    yr2021                 84194 non-null  int64
 7    week                   84194 non-null  int64
 8    gamecode               84194 non-null  float64
 9    ln_timecounttotal      84194 non-null  float64
 10   ln_avgusedtime         84194 non-null  float64
 11   gamecode2              84194 non-null  int64
 12   gamerank               84194 non-null  int64
 13   gamerankupdown         84194 non-null  float64
 14   gameshares             84194 non-null  float64
 15   gametypeshares         84194 non-null  float64
 16   sharesupdown           84194 non-null  int64
 17   timecounttotal         84194 non-null  int64
 18   avgusedtime            84194 non-null  int64
 19   usercounttotal         84194 non-null  int64
 20   usestorecount          84194 non-null  object
 21   gameregdate            84194 non-null  object
 22   paytype                84194 non-null  int64
 23   datecount              84194 non-null  int64
 24   ram_min                82724 non-null  float64
 25   singleplay             83459 non-null  float64
 26   teamplay               83459 non-null  float64
 27   ram_max                84194 non-null  float64
 28   cash                   84194 non-null  int64
 29   ram                    83459 non-null  float64
 30   pve                    83459 non-null  float64
 31   pvp                    83459 non-null  float64
 32   gaming_interaction     83459 non-null  float64
 33   x2019_avg              84194 non-null  float64
 34   x2020_avg              84194 non-null  float64
 35   x2021_avg              84194 non-null  float64
 36   updown_a               84194 non-null  float64
 37   updown_b               84194 non-null  float64
 38   updown_c               84194 non-null  float64
 39   med_high_a             84194 non-null  int64
 40   med_high_b             84194 non-null  int64
 41   med_high_c             84194 non-null  int64
 42   weekday1               84194 non-null  int64
 43   weekend                84194 non-null  int64
 44   regdate                84194 non-null  int64
 45   buzz_total             84194 non-null  int64
 46   buzz_pn                84194 non-null  int64
 47   buzz_neg               84194 non-null  int64
 48   buzz_pos               84194 non-null  int64
 49   comtwpr_total          84194 non-null  int64
 50   comtwpr_pn             84194 non-null  int64
 51   comtwpr_neg            84194 non-null  int64
 52   comtwpr_pos            84194 non-null  int64
 53   com_total              84194 non-null  int64
 54   com_pn                 84194 non-null  int64
 55   com_neg                84194 non-null  int64
 56   com_pos                84194 non-null  int64
 57   tw_total               84194 non-null  int64
 58   tw_pn                  84194 non-null  int64
 59   tw_neg                 84194 non-null  int64
 60   tw_pos                 84194 non-null  int64
 61   pr_total               84194 non-null  int64
 62   pr_pn                  84194 non-null  int64
 63   pr_neg                 84194 non-null  int64
 64   pr_pos                 84194 non-null  int64
 65   blog_pos               84194 non-null  int64
 66   cafe_pos               84194 non-null  int64
 67   community_pos          84194 non-null  int64
 68   press_pos              84194 non-null  int64
 69   facebook_pos           84194 non-null  int64
 70   insta_pos              84194 non-null  int64
 71   kakao_pos              84194 non-null  int64
 72   v73                    84194 non-null  int64
 73   qna_pos                84194 non-null  int64
 74   twitter_pos            84194 non-null  int64
 75   youtube_pos            84194 non-null  int64
 76   blog_neg               84194 non-null  int64
 77   caf_neg                84194 non-null  int64
 78   community_neg          84194 non-null  int64
 79   press_neg              84194 non-null  int64
 80   facebook_neg           84194 non-null  int64
 81   insta_neg              84194 non-null  int64
 82   kakao_neg              84194 non-null  int64
 83   v84                    84194 non-null  int64
 84   qna_neg                84194 non-null  int64
 85   twitter_neg            84194 non-null  int64
 86   youtube_neg            84194 non-null  int64
 87   blog_neu               84194 non-null  int64
 88   caf_neu                84194 non-null  int64
 89   community_neu          84194 non-null  int64
 90   press_neu              84194 non-null  int64
 91   facebook_neu           84194 non-null  int64
 92   insta_neu              84194 non-null  int64
 93   kakao_neu              84194 non-null  int64
 94   pr_neu                 84194 non-null  int64
 95   qna_neu                84194 non-null  int64
 96   twitter_neu            84194 non-null  int64
 97   youtube_neu            84194 non-null  object
 98   gametype               84194 non-null  object
 99   gametype_fps           84194 non-null  int64
 100  gametype_rpg           84194 non-null  int64
 101  gametype_rts           84194 non-null  int64
 102  gametype_sports        84194 non-null  int64
 103  gametype_action        84194 non-null  object
 104  gametype_casual        84194 non-null  object
 105  old_gametype           84194 non-null  object
 106  old_gametype_fps       84194 non-null  int64
 107  old_gametype_rpg       84194 non-null  int64
 108  old_gametype_rts       84194 non-null  int64
 109  old_gametype_fighting  84194 non-null  int64
 110  old_gametype_racing    84194 non-null  int64
 111  old_gametype_board     84194 non-null  int64
 112  old_gametype_shooting  84194 non-null  int64
 113  old_gametype_sports    84194 non-null  int64
 114  old_gametype_arcade    84194 non-null  int64
 115  old_gametype_action    84194 non-null  int64
 116  old_gametype_casual    84194 non-null  int64
 117  weekday_fri            84194 non-null  int64
 118  weekday_mon            84194 non-null  int64
 119  weekday_sat            84194 non-null  int64
 120  weekday_sun            84194 non-null  int64
 121  weekday_thu            84194 non-null  int64
 122  weekday_tue            84194 non-null  int64
 123  weekday_wed            84194 non-null  int64
 124  pub1                   84194 non-null  int64
 125  pub2                   84194 non-null  int64
 126  pub3                   84194 non-null  int64
 127  pub4                   84194 non-null  int64
 128  pub5                   84194 non-null  int64
 129  pub6                   84194 non-null  int64
 130  pub7                   84194 non-null  int64
 131  pub8                   84194 non-null  int64
 132  pub9                   84194 non-null  int64
 133  pub10                  84194 non-null  int64
 134  pub11                  84194 non-null  int64
 135  pub12                  84194 non-null  int64
 136  pub13                  84194 non-null  int64
 137  pub14                  84194 non-null  int64
 138  pub15                  84194 non-null  int64
 139  pub16                  84194 non-null  int64
 140  pub17                  84194 non-null  int64
 141  pub18                  84194 non-null  int64
 142  pub19                  84194 non-null  int64
 143  pub20                  84194 non-null  int64
 144  pub21                  84194 non-null  int64
 145  pub22                  84194 non-null  int64
 146  pub23                  84194 non-null  int64
 147  pub24                  84194 non-null  int64
 148  pub25                  84194 non-null  int64
 149  pub26                  84194 non-null  int64
 150  pub27                  84194 non-null  int64
 151  pub28                  84194 non-null  int64
 152  pub29                  84194 non-null  int64
 153  pub30                  84194 non-null  int64
 154  pub31                  84194 non-null  int64
 155  pub32                  84194 non-null  int64
 156  pub33                  84194 non-null  int64
 157  pub34                  84191 non-null  float64
 158  pub35                  84179 non-null  float64
 159  pub36                  84139 non-null  float64
 160  lag_timecounttotal     84082 non-null  float64
 161  lag_avgusedtime        81889 non-null  float64
 162  lag_usercounttotal     73109 non-null  object
 163  search                 43769 non-null  float64
 164  publisher              20580 non-null  object
 165  publisherCode          20580 non-null  float64
 166  aboard                 20580 non-null  float64
dtypes: float64(28), int64(129), object(10)
memory usage: 107.9+ MB

<ipython-input-26-74294e638114>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  master2.info(verbose=True, null_counts=True)

In [23]:
master2.to_csv('merge_master_ver11.csv')

In [25]:
storage = pd.read_csv('C:\\Users\\sh921\\Desktop\\storage.csv')
storage.head()

    gamename  storage_min  storage_max  storage
0  리그 오브 레전드         16.0         16.0      1.0
1     배틀그라운드         33.0         33.0      1.0
2     피파온라인4         18.0         16.0      1.0
3      로스트아크         50.0         50.0      1.0
4       오버워치         30.0         30.0      1.0

In [30]:
master3 = pd.merge(master2, storage, how='left', on='gamename' )
master3.head()

,gamename,date,month,year,yr2019,yr2020,yr2021,week,gamecode,ln_timecounttotal,...,lag_timecounttotal,lag_avgusedtime,lag_usercounttotal,search,publisher,publisherCode,aboard,storage_min,storage_max,storage
0,7DaysToDie,20190117,1,1,1,0,0,1,158.0,5.219183,...,NaN,NaN,NaN,0.46253,스팀,1.0,0.0,12.0,12.0,1.0
1,7DaysToDie,20190118,1,1,1,0,0,1,158.0,5.184021,...,0.016565,9.744,0.017,0.83256,스팀,1.0,0.0,12.0,12.0,1.0
2,7DaysToDie,20190119,1,1,1,0,0,1,158.0,5.418132,...,0.015276,6.111,0.025,0.87881,스팀,1.0,0.0,12.0,12.0,1.0
3,7DaysToDie,20190120,1,1,1,0,0,1,158.0,5.340993,...,0.026190,9.031,0.029,0.83256,스팀,1.0,0.0,12.0,12.0,1.0
4,7DaysToDie,20190121,1,1,1,0,0,2,158.0,5.233709,...,0.021928,7.310,0.03,1.57261,스팀,1.0,0.0,12.0,12.0,1.0

In [31]:
master3.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84194 entries, 0 to 84193
Data columns (total 170 columns):
 #    Column                 Non-Null Count  Dtype
---   ------                 --------------  -----
 0    gamename               84194 non-null  object
 1    date                   84194 non-null  int64
 2    month                  84194 non-null  int64
 3    year                   84194 non-null  int64
 4    yr2019                 84194 non-null  int64
 5    yr2020                 84194 non-null  int64
 6    yr2021                 84194 non-null  int64
 7    week                   84194 non-null  int64
 8    gamecode               84194 non-null  float64
 9    ln_timecounttotal      84194 non-null  float64
 10   ln_avgusedtime         84194 non-null  float64
 11   gamecode2              84194 non-null  int64
 12   gamerank               84194 non-null  int64
 13   gamerankupdown         84194 non-null  float64
 14   gameshares             84194 non-null  float64
 15   gametypeshares         84194 non-null  float64
 16   sharesupdown           84194 non-null  int64
 17   timecounttotal         84194 non-null  int64
 18   avgusedtime            84194 non-null  int64
 19   usercounttotal         84194 non-null  int64
 20   usestorecount          84194 non-null  object
 21   gameregdate            84194 non-null  object
 22   paytype                84194 non-null  int64
 23   datecount              84194 non-null  int64
 24   ram_min                82724 non-null  float64
 25   singleplay             83459 non-null  float64
 26   teamplay               83459 non-null  float64
 27   ram_max                84194 non-null  float64
 28   cash                   84194 non-null  int64
 29   ram                    83459 non-null  float64
 30   pve                    83459 non-null  float64
 31   pvp                    83459 non-null  float64
 32   gaming_interaction     83459 non-null  float64
 33   x2019_avg              84194 non-null  float64
 34   x2020_avg              84194 non-null  float64
 35   x2021_avg              84194 non-null  float64
 36   updown_a               84194 non-null  float64
 37   updown_b               84194 non-null  float64
 38   updown_c               84194 non-null  float64
 39   med_high_a             84194 non-null  int64
 40   med_high_b             84194 non-null  int64
 41   med_high_c             84194 non-null  int64
 42   weekday1               84194 non-null  int64
 43   weekend                84194 non-null  int64
 44   regdate                84194 non-null  int64
 45   buzz_total             84194 non-null  int64
 46   buzz_pn                84194 non-null  int64
 47   buzz_neg               84194 non-null  int64
 48   buzz_pos               84194 non-null  int64
 49   comtwpr_total          84194 non-null  int64
 50   comtwpr_pn             84194 non-null  int64
 51   comtwpr_neg            84194 non-null  int64
 52   comtwpr_pos            84194 non-null  int64
 53   com_total              84194 non-null  int64
 54   com_pn                 84194 non-null  int64
 55   com_neg                84194 non-null  int64
 56   com_pos                84194 non-null  int64
 57   tw_total               84194 non-null  int64
 58   tw_pn                  84194 non-null  int64
 59   tw_neg                 84194 non-null  int64
 60   tw_pos                 84194 non-null  int64
 61   pr_total               84194 non-null  int64
 62   pr_pn                  84194 non-null  int64
 63   pr_neg                 84194 non-null  int64
 64   pr_pos                 84194 non-null  int64
 65   blog_pos               84194 non-null  int64
 66   cafe_pos               84194 non-null  int64
 67   community_pos          84194 non-null  int64
 68   press_pos              84194 non-null  int64
 69   facebook_pos           84194 non-null  int64
 70   insta_pos              84194 non-null  int64
 71   kakao_pos              84194 non-null  int64
 72   v73                    84194 non-null  int64
 73   qna_pos                84194 non-null  int64
 74   twitter_pos            84194 non-null  int64
 75   youtube_pos            84194 non-null  int64
 76   blog_neg               84194 non-null  int64
 77   caf_neg                84194 non-null  int64
 78   community_neg          84194 non-null  int64
 79   press_neg              84194 non-null  int64
 80   facebook_neg           84194 non-null  int64
 81   insta_neg              84194 non-null  int64
 82   kakao_neg              84194 non-null  int64
 83   v84                    84194 non-null  int64
 84   qna_neg                84194 non-null  int64
 85   twitter_neg            84194 non-null  int64
 86   youtube_neg            84194 non-null  int64
 87   blog_neu               84194 non-null  int64
 88   caf_neu                84194 non-null  int64
 89   community_neu          84194 non-null  int64
 90   press_neu              84194 non-null  int64
 91   facebook_neu           84194 non-null  int64
 92   insta_neu              84194 non-null  int64
 93   kakao_neu              84194 non-null  int64
 94   pr_neu                 84194 non-null  int64
 95   qna_neu                84194 non-null  int64
 96   twitter_neu            84194 non-null  int64
 97   youtube_neu            84194 non-null  object
 98   gametype               84194 non-null  object
 99   gametype_fps           84194 non-null  int64
 100  gametype_rpg           84194 non-null  int64
 101  gametype_rts           84194 non-null  int64
 102  gametype_sports        84194 non-null  int64
 103  gametype_action        84194 non-null  object
 104  gametype_casual        84194 non-null  object
 105  old_gametype           84194 non-null  object
 106  old_gametype_fps       84194 non-null  int64
 107  old_gametype_rpg       84194 non-null  int64
 108  old_gametype_rts       84194 non-null  int64
 109  old_gametype_fighting  84194 non-null  int64
 110  old_gametype_racing    84194 non-null  int64
 111  old_gametype_board     84194 non-null  int64
 112  old_gametype_shooting  84194 non-null  int64
 113  old_gametype_sports    84194 non-null  int64
 114  old_gametype_arcade    84194 non-null  int64
 115  old_gametype_action    84194 non-null  int64
 116  old_gametype_casual    84194 non-null  int64
 117  weekday_fri            84194 non-null  int64
 118  weekday_mon            84194 non-null  int64
 119  weekday_sat            84194 non-null  int64
 120  weekday_sun            84194 non-null  int64
 121  weekday_thu            84194 non-null  int64
 122  weekday_tue            84194 non-null  int64
 123  weekday_wed            84194 non-null  int64
 124  pub1                   84194 non-null  int64
 125  pub2                   84194 non-null  int64
 126  pub3                   84194 non-null  int64
 127  pub4                   84194 non-null  int64
 128  pub5                   84194 non-null  int64
 129  pub6                   84194 non-null  int64
 130  pub7                   84194 non-null  int64
 131  pub8                   84194 non-null  int64
 132  pub9                   84194 non-null  int64
 133  pub10                  84194 non-null  int64
 134  pub11                  84194 non-null  int64
 135  pub12                  84194 non-null  int64
 136  pub13                  84194 non-null  int64
 137  pub14                  84194 non-null  int64
 138  pub15                  84194 non-null  int64
 139  pub16                  84194 non-null  int64
 140  pub17                  84194 non-null  int64
 141  pub18                  84194 non-null  int64
 142  pub19                  84194 non-null  int64
 143  pub20                  84194 non-null  int64
 144  pub21                  84194 non-null  int64
 145  pub22                  84194 non-null  int64
 146  pub23                  84194 non-null  int64
 147  pub24                  84194 non-null  int64
 148  pub25                  84194 non-null  int64
 149  pub26                  84194 non-null  int64
 150  pub27                  84194 non-null  int64
 151  pub28                  84194 non-null  int64
 152  pub29                  84194 non-null  int64
 153  pub30                  84194 non-null  int64
 154  pub31                  84194 non-null  int64
 155  pub32                  84194 non-null  int64
 156  pub33                  84194 non-null  int64
 157  pub34                  84191 non-null  float64
 158  pub35                  84179 non-null  float64
 159  pub36                  84139 non-null  float64
 160  lag_timecounttotal     84082 non-null  float64
 161  lag_avgusedtime        81889 non-null  float64
 162  lag_usercounttotal     73109 non-null  object
 163  search                 43769 non-null  float64
 164  publisher              20580 non-null  object
 165  publisherCode          20580 non-null  float64
 166  aboard                 20580 non-null  float64
 167  storage_min            20580 non-null  float64
 168  storage_max            20580 non-null  float64
 169  storage                20580 non-null  float64
dtypes: float64(31), int64(129), object(10)
memory usage: 109.8+ MB

<ipython-input-31-9cb9dfca5f43>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  master3.info(verbose=True, null_counts=True)

master3 = pd.merge(master2, storage, how='left', on )

# 1008 game master file 다시 머지

In [75]:
#파일경로 설정
import os
os.chdir("C:\\Users\\sh921\\Desktop\\gamefinal")
print(os.getcwd())
# /Users

C:\Users\sh921\Desktop\gamefinal

In [82]:
rsn = pd.read_csv("rsn_master.csv")
rsn.head()

,rsncode,date,buzz_total,buzz_pn,buzz_pos,buzz_neg,com_pos,news_pos,tw_pos,com_neg,...,qna_neg,youtube_neg,blog_neu,café_neu,facebook_neu,insta_neu,kakao_neu,pr_neu,qna_neu,youtube_neu
0,1,20200101,656,50,118,68,2,22,9,8,...,0,2,20,19,11,99,0,4,2,41
1,1,20200102,741,56,136,80,5,42,14,7,...,2,5,16,16,6,106,0,4,3,38
2,1,20200103,748,96,167,71,4,67,9,11,...,0,3,28,12,6,105,0,0,9,33
3,1,20200104,794,160,223,63,5,48,14,7,...,3,8,42,22,4,85,1,1,3,28
4,1,20200105,701,85,176,91,4,44,5,10,...,1,2,31,14,2,90,0,0,6,39

In [83]:
rsn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149671 entries, 0 to 149670
Data columns (total 47 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   rsncode          149671 non-null  int64
 1   date             149671 non-null  int64
 2   buzz_total       149671 non-null  int64
 3   buzz_pn          149671 non-null  int64
 4   buzz_pos         149671 non-null  int64
 5   buzz_neg         149671 non-null  int64
 6   com_pos          149671 non-null  int64
 7   news_pos         149671 non-null  int64
 8   tw_pos           149671 non-null  int64
 9   com_neg          149671 non-null  int64
 10  news_neg         149671 non-null  int64
 11  tw_neg           149671 non-null  int64
 12  com_neu          149671 non-null  int64
 13  news_neu         149671 non-null  int64
 14  tw_neu           149671 non-null  int64
 15  com_total        149671 non-null  int64
 16  com_pn           149671 non-null  int64
 17  news_total       149671 non-null  int64
 18  news_pn          149671 non-null  int64
 19  tw_total         149671 non-null  int64
 20  tw_pn            149671 non-null  int64
 21  comtwnews_total  149671 non-null  int64
 22  comtwnews_pn     149671 non-null  int64
 23  blog_pos         149671 non-null  int64
 24  café_pos         149671 non-null  int64
 25  facebook_pos     149671 non-null  int64
 26  insta_pos        149671 non-null  int64
 27  kakao_pos        149671 non-null  int64
 28  pr_pos           149671 non-null  int64
 29  qna_pos          149671 non-null  int64
 30  youtube_pos      149671 non-null  int64
 31  blog_neg         149671 non-null  int64
 32  café_neg         149671 non-null  int64
 33  facebook_neg     149671 non-null  int64
 34  insta_neg        149671 non-null  int64
 35  kakao_neg        149671 non-null  int64
 36  pr_neg           149671 non-null  int64
 37  qna_neg          149671 non-null  int64
 38  youtube_neg      149671 non-null  int64
 39  blog_neu         149671 non-null  int64
 40  café_neu         149671 non-null  int64
 41  facebook_neu     149671 non-null  int64
 42  insta_neu        149671 non-null  int64
 43  kakao_neu        149671 non-null  int64
 44  pr_neu           149671 non-null  int64
 45  qna_neu          149671 non-null  int64
 46  youtube_neu      149671 non-null  int64
dtypes: int64(47)
memory usage: 53.7 MB

In [84]:
rsn_code = pd.read_csv("C:\\Users\\sh921\\Desktop\\gamefinal\\rsn_code.csv")
rsn_code.head()

    gamename  rsncode
0  리그 오브 레전드        1
1     배틀그라운드        2
2     피파온라인4        3
3       오버워치        4
4      로스트아크        5

In [85]:
rsn_master = pd.merge(rsn, rsn_code, how='left',on='rsncode')

In [86]:
rsn_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149671 entries, 0 to 149670
Data columns (total 48 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   rsncode          149671 non-null  int64
 1   date             149671 non-null  int64
 2   buzz_total       149671 non-null  int64
 3   buzz_pn          149671 non-null  int64
 4   buzz_pos         149671 non-null  int64
 5   buzz_neg         149671 non-null  int64
 6   com_pos          149671 non-null  int64
 7   news_pos         149671 non-null  int64
 8   tw_pos           149671 non-null  int64
 9   com_neg          149671 non-null  int64
 10  news_neg         149671 non-null  int64
 11  tw_neg           149671 non-null  int64
 12  com_neu          149671 non-null  int64
 13  news_neu         149671 non-null  int64
 14  tw_neu           149671 non-null  int64
 15  com_total        149671 non-null  int64
 16  com_pn           149671 non-null  int64
 17  news_total       149671 non-null  int64
 18  news_pn          149671 non-null  int64
 19  tw_total         149671 non-null  int64
 20  tw_pn            149671 non-null  int64
 21  comtwnews_total  149671 non-null  int64
 22  comtwnews_pn     149671 non-null  int64
 23  blog_pos         149671 non-null  int64
 24  café_pos         149671 non-null  int64
 25  facebook_pos     149671 non-null  int64
 26  insta_pos        149671 non-null  int64
 27  kakao_pos        149671 non-null  int64
 28  pr_pos           149671 non-null  int64
 29  qna_pos          149671 non-null  int64
 30  youtube_pos      149671 non-null  int64
 31  blog_neg         149671 non-null  int64
 32  café_neg         149671 non-null  int64
 33  facebook_neg     149671 non-null  int64
 34  insta_neg        149671 non-null  int64
 35  kakao_neg        149671 non-null  int64
 36  pr_neg           149671 non-null  int64
 37  qna_neg          149671 non-null  int64
 38  youtube_neg      149671 non-null  int64
 39  blog_neu         149671 non-null  int64
 40  café_neu         149671 non-null  int64
 41  facebook_neu     149671 non-null  int64
 42  insta_neu        149671 non-null  int64
 43  kakao_neu        149671 non-null  int64
 44  pr_neu           149671 non-null  int64
 45  qna_neu          149671 non-null  int64
 46  youtube_neu      149671 non-null  int64
 47  gamename         149671 non-null  object
dtypes: int64(47), object(1)
memory usage: 56.0+ MB

In [87]:
rsn_master.head()

,rsncode,date,buzz_total,buzz_pn,buzz_pos,buzz_neg,com_pos,news_pos,tw_pos,com_neg,...,youtube_neg,blog_neu,café_neu,facebook_neu,insta_neu,kakao_neu,pr_neu,qna_neu,youtube_neu,gamename
0,1,20200101,656,50,118,68,2,22,9,8,...,2,20,19,11,99,0,4,2,41,리그 오브 레전드
1,1,20200102,741,56,136,80,5,42,14,7,...,5,16,16,6,106,0,4,3,38,리그 오브 레전드
2,1,20200103,748,96,167,71,4,67,9,11,...,3,28,12,6,105,0,0,9,33,리그 오브 레전드
3,1,20200104,794,160,223,63,5,48,14,7,...,8,42,22,4,85,1,1,3,28,리그 오브 레전드
4,1,20200105,701,85,176,91,4,44,5,10,...,2,31,14,2,90,0,0,6,39,리그 오브 레전드

In [88]:
#rsn master export
rsn_master.to_csv('rsn_master2.csv')

In [89]:
rsn = pd.read_csv('rsn_master2.csv')
rsn.head()

,Unnamed: 0,rsncode,date,buzz_total,buzz_pn,buzz_pos,buzz_neg,com_pos,news_pos,tw_pos,...,youtube_neg,blog_neu,café_neu,facebook_neu,insta_neu,kakao_neu,pr_neu,qna_neu,youtube_neu,gamename
0,0,1,20200101,656,50,118,68,2,22,9,...,2,20,19,11,99,0,4,2,41,리그 오브 레전드
1,1,1,20200102,741,56,136,80,5,42,14,...,5,16,16,6,106,0,4,3,38,리그 오브 레전드
2,2,1,20200103,748,96,167,71,4,67,9,...,3,28,12,6,105,0,0,9,33,리그 오브 레전드
3,3,1,20200104,794,160,223,63,5,48,14,...,8,42,22,4,85,1,1,3,28,리그 오브 레전드
4,4,1,20200105,701,85,176,91,4,44,5,...,2,31,14,2,90,0,0,6,39,리그 오브 레전드

In [90]:
rsn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149671 entries, 0 to 149670
Data columns (total 49 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       149671 non-null  int64
 1   rsncode          149671 non-null  int64
 2   date             149671 non-null  int64
 3   buzz_total       149671 non-null  int64
 4   buzz_pn          149671 non-null  int64
 5   buzz_pos         149671 non-null  int64
 6   buzz_neg         149671 non-null  int64
 7   com_pos          149671 non-null  int64
 8   news_pos         149671 non-null  int64
 9   tw_pos           149671 non-null  int64
 10  com_neg          149671 non-null  int64
 11  news_neg         149671 non-null  int64
 12  tw_neg           149671 non-null  int64
 13  com_neu          149671 non-null  int64
 14  news_neu         149671 non-null  int64
 15  tw_neu           149671 non-null  int64
 16  com_total        149671 non-null  int64
 17  com_pn           149671 non-null  int64
 18  news_total       149671 non-null  int64
 19  news_pn          149671 non-null  int64
 20  tw_total         149671 non-null  int64
 21  tw_pn            149671 non-null  int64
 22  comtwnews_total  149671 non-null  int64
 23  comtwnews_pn     149671 non-null  int64
 24  blog_pos         149671 non-null  int64
 25  café_pos         149671 non-null  int64
 26  facebook_pos     149671 non-null  int64
 27  insta_pos        149671 non-null  int64
 28  kakao_pos        149671 non-null  int64
 29  pr_pos           149671 non-null  int64
 30  qna_pos          149671 non-null  int64
 31  youtube_pos      149671 non-null  int64
 32  blog_neg         149671 non-null  int64
 33  café_neg         149671 non-null  int64
 34  facebook_neg     149671 non-null  int64
 35  insta_neg        149671 non-null  int64
 36  kakao_neg        149671 non-null  int64
 37  pr_neg           149671 non-null  int64
 38  qna_neg          149671 non-null  int64
 39  youtube_neg      149671 non-null  int64
 40  blog_neu         149671 non-null  int64
 41  café_neu         149671 non-null  int64
 42  facebook_neu     149671 non-null  int64
 43  insta_neu        149671 non-null  int64
 44  kakao_neu        149671 non-null  int64
 45  pr_neu           149671 non-null  int64
 46  qna_neu          149671 non-null  int64
 47  youtube_neu      149671 non-null  int64
 48  gamename         149671 non-null  object
dtypes: int64(48), object(1)
memory usage: 56.0+ MB

In [91]:
df = pd.read_csv("merge_master_ver8.csv")
df.head()

C:\Users\sh921\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (99) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,gamename,date,month,year,yr2019,yr2020,yr2021,week,rsncode,ln_timecounttotal,...,pub31,pub32,pub33,pub34,pub35,pub36,lag_timeCountTotal,lag_avgUsedTime,lag_userCountTotal,search
0,7DaysToDie,20190117,1,1,1,0,0,1,158,5.219184,...,0,0,0,0,0,0,NaN,NaN,NaN,0.46253
1,7DaysToDie,20190118,1,1,1,0,0,1,158,5.184021,...,0,0,0,0,0,0,0.016565,9.744,0.017,0.83256
2,7DaysToDie,20190119,1,1,1,0,0,1,158,5.418132,...,0,0,0,0,0,0,0.015276,6.111,0.025,0.87881
3,7DaysToDie,20190120,1,1,1,0,0,1,158,5.340993,...,0,0,0,0,0,0,0.026190,9.031,0.029,0.83256
4,7DaysToDie,20190121,1,1,1,0,0,2,158,5.233709,...,0,0,0,0,0,0,0.021928,7.310,0.030,1.57261

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105423 entries, 0 to 105422
Data columns (total 100 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   gamename            105423 non-null  object
 1   date                105423 non-null  int64
 2   month               105423 non-null  int64
 3   year                105423 non-null  int64
 4   yr2019              105423 non-null  int64
 5   yr2020              105423 non-null  int64
 6   yr2021              105423 non-null  int64
 7   week                105423 non-null  int64
 8   rsncode             105423 non-null  int64
 9   ln_timecounttotal   105423 non-null  float64
 10  ln_avgusedtime      105423 non-null  float64
 11  gamecode            105423 non-null  int64
 12  gameRank            105423 non-null  int64
 13  gameRankUpDown      105423 non-null  int64
 14  gameShares          105423 non-null  float64
 15  gameTypeShares      105423 non-null  float64
 16  sharesUpDown        105423 non-null  int64
 17  timeCountTotal      105423 non-null  float64
 18  avgUsedTime         105423 non-null  int64
 19  userCountTotal      105423 non-null  int64
 20  useStoreCount       105423 non-null  int64
 21  gameRegDate         105423 non-null  object
 22  payType             105423 non-null  int64
 23  dateCount           105423 non-null  int64
 24  ram_min             91347 non-null   float64
 25  singlePlay          86937 non-null   float64
 26  teamPlay            87672 non-null   float64
 27  ram_max             103249 non-null  float64
 28  cash                104719 non-null  float64
 29  ram                 105423 non-null  int64
 30  PvE                 98104 non-null   float64
 31  PvP                 98839 non-null   float64
 32  gaming_interaction  87672 non-null   float64
 33  X2019_avg           101546 non-null  float64
 34  X2020_avg           105423 non-null  float64
 35  X2021_avg           105352 non-null  float64
 36  updown_a            101546 non-null  float64
 37  updown_b            105423 non-null  float64
 38  updown_c            101546 non-null  float64
 39  med_high_a          105423 non-null  int64
 40  med_high_b          105423 non-null  int64
 41  med_high_c          105423 non-null  int64
 42  weekday             105423 non-null  int64
 43  weekend             105423 non-null  int64
 44  Regdate             105423 non-null  int64
 45  gametype            105423 non-null  object
 46  gametype_FPS        105423 non-null  int64
 47  gametype_RPG        105423 non-null  int64
 48  gametype_RTS        105423 non-null  int64
 49  gametype_sports     105423 non-null  int64
 50  gametype_action     105423 non-null  int64
 51  gametype_casual     105423 non-null  int64
 52  old_gametype        105423 non-null  object
 53  wd_Fri              105423 non-null  int64
 54  wd_Mon              105423 non-null  int64
 55  wd_Sat              105423 non-null  int64
 56  wd_Sun              105423 non-null  int64
 57  wd_Thu              105423 non-null  int64
 58  wd_Tue              105423 non-null  int64
 59  wd_Wed              105423 non-null  int64
 60  pub1                105423 non-null  int64
 61  pub2                105423 non-null  int64
 62  pub3                105423 non-null  int64
 63  pub4                105423 non-null  int64
 64  pub5                105423 non-null  int64
 65  pub6                105423 non-null  int64
 66  pub7                105423 non-null  int64
 67  pub8                105423 non-null  int64
 68  pub9                105423 non-null  int64
 69  pub10               105423 non-null  int64
 70  pub11               105423 non-null  int64
 71  pub12               105423 non-null  int64
 72  pub13               105423 non-null  int64
 73  pub14               105423 non-null  int64
 74  pub15               105423 non-null  int64
 75  pub16               105423 non-null  int64
 76  pub17               105423 non-null  int64
 77  pub18               105423 non-null  int64
 78  pub19               105423 non-null  int64
 79  pub20               105423 non-null  int64
 80  pub21               105423 non-null  int64
 81  pub22               105423 non-null  int64
 82  pub23               105423 non-null  int64
 83  pub24               105423 non-null  int64
 84  pub25               105423 non-null  int64
 85  pub26               105423 non-null  int64
 86  pub27               105423 non-null  int64
 87  pub28               105423 non-null  int64
 88  pub29               105423 non-null  int64
 89  pub30               105423 non-null  int64
 90  pub31               105423 non-null  int64
 91  pub32               105423 non-null  int64
 92  pub33               105423 non-null  int64
 93  pub34               105423 non-null  int64
 94  pub35               105423 non-null  int64
 95  pub36               105423 non-null  int64
 96  lag_timeCountTotal  105252 non-null  float64
 97  lag_avgUsedTime     105252 non-null  float64
 98  lag_userCountTotal  105252 non-null  float64
 99  search              104719 non-null  object
dtypes: float64(22), int64(73), object(5)
memory usage: 80.4+ MB

In [95]:
#rsn merge
df2 = pd.merge(df, rsn_master,how='left',on=('gamename','date'))
df2.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105423 entries, 0 to 105422
Data columns (total 146 columns):
 #    Column              Non-Null Count   Dtype
---   ------              --------------   -----
 0    gamename            105423 non-null  object
 1    date                105423 non-null  int64
 2    month               105423 non-null  int64
 3    year                105423 non-null  int64
 4    yr2019              105423 non-null  int64
 5    yr2020              105423 non-null  int64
 6    yr2021              105423 non-null  int64
 7    week                105423 non-null  int64
 8    rsncode_x           105423 non-null  int64
 9    ln_timecounttotal   105423 non-null  float64
 10   ln_avgusedtime      105423 non-null  float64
 11   gamecode            105423 non-null  int64
 12   gameRank            105423 non-null  int64
 13   gameRankUpDown      105423 non-null  int64
 14   gameShares          105423 non-null  float64
 15   gameTypeShares      105423 non-null  float64
 16   sharesUpDown        105423 non-null  int64
 17   timeCountTotal      105423 non-null  float64
 18   avgUsedTime         105423 non-null  int64
 19   userCountTotal      105423 non-null  int64
 20   useStoreCount       105423 non-null  int64
 21   gameRegDate         105423 non-null  object
 22   payType             105423 non-null  int64
 23   dateCount           105423 non-null  int64
 24   ram_min             91347 non-null   float64
 25   singlePlay          86937 non-null   float64
 26   teamPlay            87672 non-null   float64
 27   ram_max             103249 non-null  float64
 28   cash                104719 non-null  float64
 29   ram                 105423 non-null  int64
 30   PvE                 98104 non-null   float64
 31   PvP                 98839 non-null   float64
 32   gaming_interaction  87672 non-null   float64
 33   X2019_avg           101546 non-null  float64
 34   X2020_avg           105423 non-null  float64
 35   X2021_avg           105352 non-null  float64
 36   updown_a            101546 non-null  float64
 37   updown_b            105423 non-null  float64
 38   updown_c            101546 non-null  float64
 39   med_high_a          105423 non-null  int64
 40   med_high_b          105423 non-null  int64
 41   med_high_c          105423 non-null  int64
 42   weekday             105423 non-null  int64
 43   weekend             105423 non-null  int64
 44   Regdate             105423 non-null  int64
 45   gametype            105423 non-null  object
 46   gametype_FPS        105423 non-null  int64
 47   gametype_RPG        105423 non-null  int64
 48   gametype_RTS        105423 non-null  int64
 49   gametype_sports     105423 non-null  int64
 50   gametype_action     105423 non-null  int64
 51   gametype_casual     105423 non-null  int64
 52   old_gametype        105423 non-null  object
 53   wd_Fri              105423 non-null  int64
 54   wd_Mon              105423 non-null  int64
 55   wd_Sat              105423 non-null  int64
 56   wd_Sun              105423 non-null  int64
 57   wd_Thu              105423 non-null  int64
 58   wd_Tue              105423 non-null  int64
 59   wd_Wed              105423 non-null  int64
 60   pub1                105423 non-null  int64
 61   pub2                105423 non-null  int64
 62   pub3                105423 non-null  int64
 63   pub4                105423 non-null  int64
 64   pub5                105423 non-null  int64
 65   pub6                105423 non-null  int64
 66   pub7                105423 non-null  int64
 67   pub8                105423 non-null  int64
 68   pub9                105423 non-null  int64
 69   pub10               105423 non-null  int64
 70   pub11               105423 non-null  int64
 71   pub12               105423 non-null  int64
 72   pub13               105423 non-null  int64
 73   pub14               105423 non-null  int64
 74   pub15               105423 non-null  int64
 75   pub16               105423 non-null  int64
 76   pub17               105423 non-null  int64
 77   pub18               105423 non-null  int64
 78   pub19               105423 non-null  int64
 79   pub20               105423 non-null  int64
 80   pub21               105423 non-null  int64
 81   pub22               105423 non-null  int64
 82   pub23               105423 non-null  int64
 83   pub24               105423 non-null  int64
 84   pub25               105423 non-null  int64
 85   pub26               105423 non-null  int64
 86   pub27               105423 non-null  int64
 87   pub28               105423 non-null  int64
 88   pub29               105423 non-null  int64
 89   pub30               105423 non-null  int64
 90   pub31               105423 non-null  int64
 91   pub32               105423 non-null  int64
 92   pub33               105423 non-null  int64
 93   pub34               105423 non-null  int64
 94   pub35               105423 non-null  int64
 95   pub36               105423 non-null  int64
 96   lag_timeCountTotal  105252 non-null  float64
 97   lag_avgUsedTime     105252 non-null  float64
 98   lag_userCountTotal  105252 non-null  float64
 99   search              104719 non-null  object
 100  rsncode_y           98599 non-null   float64
 101  buzz_total          98599 non-null   float64
 102  buzz_pn             98599 non-null   float64
 103  buzz_pos            98599 non-null   float64
 104  buzz_neg            98599 non-null   float64
 105  com_pos             98599 non-null   float64
 106  news_pos            98599 non-null   float64
 107  tw_pos              98599 non-null   float64
 108  com_neg             98599 non-null   float64
 109  news_neg            98599 non-null   float64
 110  tw_neg              98599 non-null   float64
 111  com_neu             98599 non-null   float64
 112  news_neu            98599 non-null   float64
 113  tw_neu              98599 non-null   float64
 114  com_total           98599 non-null   float64
 115  com_pn              98599 non-null   float64
 116  news_total          98599 non-null   float64
 117  news_pn             98599 non-null   float64
 118  tw_total            98599 non-null   float64
 119  tw_pn               98599 non-null   float64
 120  comtwnews_total     98599 non-null   float64
 121  comtwnews_pn        98599 non-null   float64
 122  blog_pos            98599 non-null   float64
 123  café_pos            98599 non-null   float64
 124  facebook_pos        98599 non-null   float64
 125  insta_pos           98599 non-null   float64
 126  kakao_pos           98599 non-null   float64
 127  pr_pos              98599 non-null   float64
 128  qna_pos             98599 non-null   float64
 129  youtube_pos         98599 non-null   float64
 130  blog_neg            98599 non-null   float64
 131  café_neg            98599 non-null   float64
 132  facebook_neg        98599 non-null   float64
 133  insta_neg           98599 non-null   float64
 134  kakao_neg           98599 non-null   float64
 135  pr_neg              98599 non-null   float64
 136  qna_neg             98599 non-null   float64
 137  youtube_neg         98599 non-null   float64
 138  blog_neu            98599 non-null   float64
 139  café_neu            98599 non-null   float64
 140  facebook_neu        98599 non-null   float64
 141  insta_neu           98599 non-null   float64
 142  kakao_neu           98599 non-null   float64
 143  pr_neu              98599 non-null   float64
 144  qna_neu             98599 non-null   float64
 145  youtube_neu         98599 non-null   float64
dtypes: float64(68), int64(73), object(5)
memory usage: 118.2+ MB

<ipython-input-95-95fa0221de26>:3: FutureWarning: null_counts is deprecated. Use show_counts instead
  df2.info(verbose=True, null_counts=True)

In [52]:
105423-99163 #rsn 부족한 개수

6260

In [94]:
df2.to_csv('rsn_error.csv')

# RSN 다시 MERGE

In [60]:
import os
file_list = os.listdir('C:\\Users\\sh921\\Documents\\카카오톡 받은 파일\\RSNGAM~2\\RSN game_20190117-20210120\\')
file_list

['18517_20210924_g_1_1_lol.xlsx',
 '18518_20210924_g_2_1_배그.xlsx',
 '18519_20210924_g_3_1_피파4.xlsx',
 '18520_20210924_g_4_1_옵치.xlsx',
 '18521_20210924_g_5_1_로스트아크.xlsx',
 '18522_20210924_g_6_1_메이플스토리.xlsx',
 '18523_20210924_g_7_1_서든.xlsx',
 '18524_20210924_g_8_1_카트.xlsx',
 '18525_20210924_g_9_1_스타크래프트.xlsx',
 '18526_20210924_g_10_1_던파.xlsx',
 '18527_20210924_g_11_1_월드.xlsx',
 '18528_20210924_g_12_1_리니지.xlsx',
 '18529_20210924_g_13_1_사이퍼즈.xlsx',
 '18530_20210924_g_14_1_Destiny.xlsx',
 '18531_20210924_g_15_1_아이온.xlsx',
 '18532_20210924_g_16_1_워크래프트3.xlsx',
 '18533_20210924_g_17_1_레인보우식스.xlsx',
 '18534_20210924_g_18_1_히어로즈.xlsx',
 '18535_20210924_g_19_1_블레이드.xlsx',
 '18536_20210924_g_20_1_테일즈런너.xlsx',
 '18537_20210924_g_21_1_디아블로3.xlsx',
 '18538_20210924_g_22_1_스타크래프트2.xlsx',
 '18539_20210924_g_23_1_크레이지.xlsx',
 '18540_20210924_g_24_1_검은사막.xlsx',
 '18541_20210924_g_25_1_리니지2.xlsx',
 '18542_20210924_g_26_1_GTA.xlsx',
 '18543_20210924_g_27_1_스페셜포스.xlsx',
 '18544_20210924_g_28_1_한게임.xlsx',
 '18545_20210924_g_29_1_DOTA.xlsx',
 '18546_20210924_g_30_1_파이널판타지.xlsx',
 '18547_20210924_g_31_1_Monster.xlsx',
 '18548_20210924_g_32_1_한게임.xlsx',
 '18549_20210924_g_33_1_마비노기.xlsx',
 '18550_20210924_g_34_1_거상.xlsx',
 '18551_20210924_g_35_1_R2.xlsx',
 '18552_20210924_g_36_1_하스스톤.xlsx',
 '18553_20210924_g_37_1_엘소드.xlsx',
 '18554_20210924_g_38_1_피망.xlsx',
 '18555_20210924_g_39_1_천애명월도.xlsx',
 '18556_20210924_g_40_1_버블파이터.xlsx',
 '18557_20210924_g_41_1_카운터.xlsx',
 '18558_20210924_g_42_1_한게임.xlsx',
 '18559_20210924_g_43_1_한게임.xlsx',
 '18560_20210924_g_44_1_마비노기.xlsx',
 '18561_20210924_g_45_1_클로저스.xlsx',
 '18563_20210924_g_46_1_디아블로2.xlsx',
 '18564_20210924_g_47_1_아바.xlsx',
 '18565_20210924_g_48_1_월드.xlsx',
 '18566_20210924_g_49_1_아키에이지.xlsx',
 '18567_20210924_g_50_1_CounterStrike.xlsx',
 '18568_20210924_g_51_1_겟앰프드.xlsx',
 '18569_20210924_g_52_1_마구마구.xlsx',
 '18570_20210924_g_53_1_슬러거.xlsx',
 '18571_20210924_g_54_1_프리스타일2.xlsx',
 '18572_20210924_g_55_1_뮤.xlsx',
 '18573_20210924_g_56_1_콜.xlsx',
 '18574_20210924_g_57_1_오디션.xlsx',
 '18575_20210924_g_58_1_엠게임.xlsx',
 '18576_20210924_g_59_1_TEKKEN.xlsx',
 '18577_20210924_g_60_1_프리스타일.xlsx',
 '18578_20210924_g_61_1_넷마블.xlsx',
 '18579_20210924_g_62_1_포트나이트.xlsx',
 '18580_20210924_g_63_1_한게임.xlsx',
 '18581_20210924_g_64_1_라테일.xlsx',
 '18582_20210924_g_65_1_테라.xlsx',
 '18583_20210924_g_66_1_러브비트.xlsx',
 '18584_20210924_g_67_1_스페셜포스2.xlsx',
 '18585_20210924_g_68_1_바람의나라.xlsx',
 '18586_20210924_g_69_1_한게임.xlsx',
 '18588_20210924_g_71_1_Black.xlsx',
 '18590_20210924_g_73_1_클럽엠스타.xlsx',
 '18591_20210924_g_74_1_미르의전설2.xlsx',
 '18592_20210924_g_75_1_오로바둑.xlsx',
 '18593_20210924_g_76_1_한게임.xlsx',
 '18594_20210924_g_77_1_넷마블.xlsx',
 '18595_20210924_g_78_1_Left.xlsx',
 '18596_20210924_g_79_1_ARK.xlsx',
 '18597_20210924_g_80_1_에오스.xlsx',
 '18598_20210924_g_81_1_로스트사가.xlsx',
 '18599_20210924_g_82_1_프리스톤테일.xlsx',
 '18600_20210924_g_83_1_이카루스.xlsx',
 '18601_20210924_g_84_1_프리스타일풋볼Z.xlsx',
 '18603_20210924_g_85_1_Rust.xlsx',
 '18604_20210924_g_86_1_소울워커.xlsx',
 '18605_20210924_g_87_1_피망.xlsx',
 '18606_20210924_g_88_1_한게임.xlsx',
 '18620_20210924_g_89_1_트리.xlsx',
 '18621_20210924_g_90_1_Warfrmae.xlsx',
 '18622_20210924_g_91_1_한게임.xlsx',
 '18623_20210924_g_92_1_뮤.xlsx',
 '18624_20210924_g_93_1_카발온라인.xlsx',
 '18625_20210924_g_94_1_Slay.xlsx',
 '18626_20210924_g_95_1_로한.xlsx',
 '18627_20210924_g_96_1_The.xlsx',
 '18628_20210924_g_98_1_한게임.xlsx',
 '18629_20210924_g_99_1_넷마블.xlsx',
 '18630_20210924_g_100_1_넷마블.xlsx',
 '18631_20210924_g_102_1_샷온라인.xlsx',
 '18632_20210924_g_103_1_RF온라인.xlsx',
 '18633_20210924_g_104_1_워록.xlsx',
 '18634_20210924_g_105_1_한게임.xlsx',
 '18635_20210924_g_106_1_영웅온라인.xlsx',
 '18636_20210924_g_107_1_Sid.xlsx',
 '18637_20210924_g_108_1_War.xlsx',
 '18638_20210924_g_109_1_Football.xlsx',
 '18639_20210924_g_110_1_Sid.xlsx',
 '18640_20210924_g_111_1_라그나로크.xlsx',
 '18641_20210924_g_112_1_Dont.xlsx',
 '18642_20210924_g_113_1_한게임.xlsx',
 '18643_20210924_g_114_1_아틀란티카.xlsx',
 '18644_20210924_g_115_1_넷마블.xlsx',
 '18645_20210924_g_116_1_피망.xlsx',
 '18646_20210924_g_117_1_데카론.xlsx',
 '18647_20210924_g_118_1_미르의전설.xlsx',
 '18648_20210924_g_119_1_Team.xlsx',
 '18649_20210924_g_120_1_엠게임.xlsx',
 '18650_20210924_g_121_1_DK온라인.xlsx',
 '18651_20210924_g_122_1_122.xlsx',
 '18652_20210924_g_123_1_테일즈.xlsx',
 '18653_20210924_g_124_1_넷마블.xlsx',
 '18654_20210924_g_125_1_십이지천2.xlsx',
 '18655_20210924_g_126_1_하운즈리로드.xlsx',
 '18656_20210924_g_127_1_건즈.xlsx',
 '18657_20210924_g_128_1_열혈강호.xlsx',
 '18658_20210924_g_129_1_한게임.xlsx',
 '18659_20210924_g_130_1_엠게임.xlsx',
 '18660_20210924_g_132_1_크리티카.xlsx',
 '18661_20210924_g_133_1_출조낚시왕.xlsx',
 '18662_20210924_g_134_1_나이트.xlsx',
 '18663_20210924_g_136_1_Hearts.xlsx',
 '18664_20210924_g_137_1_대항해시대.xlsx',
 '18665_20210924_g_138_1_엠게임.xlsx',
 '18666_20210924_g_139_1_붉은보석.xlsx',
 '18667_20210924_g_140_1_엠게임.xlsx',
 '18668_20210924_g_141_1_뮤.xlsx',
 '18669_20210924_g_142_1_천상비.xlsx',
 '18670_20210924_g_143_1_Euro.xlsx',
 '18671_20210924_g_144_1_Total.xlsx',
 '18673_20210924_g_147_1_내.xlsx',
 '18674_20210924_g_148_1_귀혼.xlsx',
 '18675_20210924_g_149_1_피망.xlsx',
 '18676_20210924_g_150_1_넷마블.xlsx',
 '18677_20210925_g_151_1_칼온라인.xlsx',
 '18678_20210925_g_152_1_믹스마스터.xlsx',
 '18679_20210925_g_153_1_Factorio.xlsx',
 '18680_20210925_g_154_1_넷마블.xlsx',
 '18681_20210925_g_155_1_Cities.xlsx',
 '18682_20210925_g_156_1_구룡쟁패.xlsx',
 '18683_20210925_g_158_1_7DaysToDie.xlsx',
 '18684_20210925_g_159_1_The.xlsx',
 '18685_20210925_g_160_1_야채부락리.xlsx',
 '18686_20210925_g_161_1_넷마블.xlsx',
 '18687_20210925_g_162_1_네이비필드.xlsx',
 '18688_20210925_g_163_1_넷마블.xlsx',
 '18689_20210925_g_165_1_피망.xlsx',
 '18690_20210925_g_168_1_포키포키.xlsx',
 '18691_20210925_g_169_1_Dead.xlsx',
 '18692_20210925_g_170_1_Brawlhalla.xlsx',
 '18693_20210925_g_171_1_SMITE.xlsx',
 '18694_20210925_g_172_1_APEX.xlsx',
 '18695_20210925_g_173_1_패스.xlsx',
 '18696_20210925_g_174_1_GOD.xlsx',
 '18697_20210925_g_175_1_ANTHEM.xlsx',
 '18698_20210925_g_176_1_Human.xlsx',
 '18699_20210925_g_177_1_Tom.xlsx',
 '18700_20210925_g_178_1_The.xlsx',
 '18701_20210925_g_179_1_Total.xlsx',
 '18702_20210925_g_180_1_Dota.xlsx',
 '18703_20210925_g_181_1_FIFA.xlsx',
 '18704_20210925_g_182_1_Borderlands.xlsx',
 '18705_20210925_g_183_1_Magic.xlsx',
 '18706_20210925_g_184_1_레전드.xlsx',
 '18707_20210925_g_185_1_Tom.xlsx',
 '18709_20210925_g_186_1_콜.xlsx',
 '18710_20210925_g_187_1_EVE.xlsx',
 '18711_20210925_g_188_1_Red.xlsx',
 '18712_20210925_g_189_1_NBA.xlsx',
 '18713_20210925_g_190_1_Escape.xlsx',
 '18714_20210925_g_191_1_Football.xlsx',
 '18715_20210925_g_192_1_DJMAX.xlsx',
 '18716_20210925_g_193_1_Wolcen.xlsx',
 '18717_20210925_g_194_1_Conquerors.xlsx',
 '18718_20210925_g_196_1_섀도우.xlsx',
 '18719_20210925_g_197_1_발로란트.xlsx',
 '18720_20210925_g_198_1_SCP.xlsx',
 '18721_20210925_g_199_1_Call.xlsx',
 '18722_20210925_g_200_1_Hunters.xlsx',
 '18723_20210925_g_201_1_observer.xlsx',
 '18724_20210925_g_202_1_GTFO.xlsx',
 '18725_20210925_g_203_1_Fall.xlsx',
 '18726_20210925_g_204_1_Hyper.xlsx',
 '18727_20210925_g_205_1_Trove.xlsx',
 '18728_20210925_g_206_1_astellia.xlsx',
 '18729_20210925_g_207_1_AMONG.xlsx',
 '18731_20210925_g_209_1_이터널.xlsx',
 '18732_20210925_g_210_1_Phasmophobia.xlsx',
 '18733_20210925_g_211_1_Night.xlsx',
 '18734_20210925_g_212_1_Witch.xlsx',
 '18735_20210925_g_213_1_DRAGON.xlsx',
 '18736_20210925_g_214_1_Trine.xlsx',
 '18737_20210925_g_215_1_INSIDE.xlsx',
 '18738_20210925_g_216_1_엘리온.xlsx',
 '18739_20210925_g_217_1_Cyberpunk.xlsx',
 '18869_20211003_gg_1_1_lol.xlsx',
 '18870_20211003_gg_2_1_배그.xlsx',
 '18871_20211003_gg_3_1_피파4.xlsx',
 '18872_20211003_gg_4_1_옵치.xlsx',
 '18873_20211003_gg_5_1_로스트아크.xlsx',
 '18874_20211003_gg_6_1_메이플스토리.xlsx',
 '18875_20211003_gg_7_1_서든.xlsx',
 '18876_20211003_gg_8_1_카트.xlsx',
 '18877_20211003_gg_9_1_스타크래프트.xlsx',
 '18878_20211003_gg_10_1_던파.xlsx',
 '18879_20211003_gg_11_1_월드.xlsx',
 '18880_20211003_gg_12_1_리니지.xlsx',
 '18881_20211003_gg_13_1_사이퍼즈.xlsx',
 '18882_20211003_gg_14_1_Destiny.xlsx',
 '18883_20211003_gg_15_1_아이온.xlsx',
 '18884_20211003_gg_16_1_워크래프트3.xlsx',
 '18885_20211003_gg_17_1_레인보우식스.xlsx',
 '18886_20211003_gg_18_1_히어로즈.xlsx',
 '18887_20211003_gg_19_1_블레이드.xlsx',
 '18888_20211003_gg_20_1_테일즈런너.xlsx',
 '18889_20211003_gg_21_1_디아블로3.xlsx',
 '18890_20211003_gg_22_1_스타크래프트2.xlsx',
 '18891_20211003_gg_23_1_크레이지.xlsx',
 '18893_20211003_gg_25_1_리니지2.xlsx',
 '18894_20211003_gg_26_1_GTA.xlsx',
 '18895_20211003_gg_27_1_스페셜포스.xlsx',
 '18896_20211003_gg_28_1_한게임.xlsx',
 '18897_20211003_gg_29_1_DOTA.xlsx',
 '18898_20211003_gg_30_1_파이널판타지.xlsx',
 '18899_20211003_gg_31_1_Monster.xlsx',
 '18900_20211003_gg_32_1_한게임.xlsx',
 '18901_20211003_gg_33_1_마비노기.xlsx',
 '18902_20211003_gg_34_1_거상.xlsx',
 '18903_20211003_gg_35_1_R2.xlsx',
 '18904_20211003_gg_36_1_하스스톤.xlsx',
 '18905_20211003_gg_37_1_엘소드.xlsx',
 '18906_20211003_gg_38_1_피망.xlsx',
 '18907_20211003_gg_39_1_천애명월도.xlsx',
 '18908_20211003_gg_40_1_버블파이터.xlsx',
 '18909_20211003_gg_41_1_카운터.xlsx',
 '18910_20211003_gg_42_1_한게임.xlsx',
 '18911_20211003_gg_43_1_한게임.xlsx',
 '18912_20211003_gg_44_1_마비노기.xlsx',
 '18913_20211003_gg_45_1_클로저스.xlsx',
 '18914_20211003_gg_46_1_디아블로2.xlsx',
 '18915_20211003_gg_47_1_아바.xlsx',
 '18916_20211003_gg_48_1_월드.xlsx',
 '18917_20211003_gg_49_1_아키에이지.xlsx',
 '18918_20211003_gg_50_1_CounterStrike.xlsx',
 '18919_20211003_gg_51_1_겟앰프드.xlsx',
 '18920_20211003_gg_52_1_마구마구.xlsx',
 '18921_20211003_gg_53_1_슬러거.xlsx',
 '18922_20211003_gg_54_1_프리스타일2.xlsx',
 '18923_20211003_gg_55_1_뮤.xlsx',
 '18924_20211003_gg_56_1_콜.xlsx',
 '18925_20211003_gg_57_1_오디션.xlsx',
 '18926_20211003_gg_58_1_엠게임.xlsx',
 '18927_20211003_gg_59_1_TEKKEN.xlsx',
 '18928_20211003_gg_60_1_프리스타일.xlsx',
 '18929_20211003_gg_61_1_넷마블.xlsx',
 '18930_20211003_gg_62_1_포트나이트.xlsx',
 '18931_20211003_gg_63_1_한게임.xlsx',
 '18932_20211003_gg_64_1_라테일.xlsx',
 '18933_20211003_gg_65_1_테라.xlsx',
 '18934_20211003_gg_66_1_러브비트.xlsx',
 '18935_20211003_gg_67_1_스페셜포스2.xlsx',
 '18936_20211003_gg_68_1_바람의나라.xlsx',
 '18937_20211003_gg_69_1_한게임.xlsx',
 '18938_20211003_gg_70_1_피망.xlsx',
 '18939_20211003_gg_71_1_Black.xlsx',
 '18940_20211003_gg_72_1_넷마블.xlsx',
 '18941_20211003_gg_73_1_클럽엠스타.xlsx',
 '18942_20211003_gg_74_1_미르의전설2.xlsx',
 '18943_20211003_gg_75_1_오로바둑.xlsx',
 '18944_20211003_gg_76_1_한게임.xlsx',
 '18945_20211003_gg_77_1_넷마블.xlsx',
 '18946_20211003_gg_78_1_Left.xlsx',
 '18947_20211003_gg_79_1_ARK.xlsx',
 '18948_20211003_gg_80_1_에오스.xlsx',
 '18949_20211003_gg_81_1_로스트사가.xlsx',
 '18950_20211003_gg_82_1_프리스톤테일.xlsx',
 '18951_20211003_gg_83_1_이카루스.xlsx',
 '18952_20211003_gg_84_1_프리스타일풋볼Z.xlsx',
 '18953_20211003_gg_85_1_Rust.xlsx',
 '18954_20211003_gg_86_1_소울워커.xlsx',
 '18955_20211003_gg_87_1_피망.xlsx',
 '18956_20211003_gg_88_1_한게임.xlsx',
 '18957_20211003_gg_89_1_트리.xlsx',
 '18958_20211003_gg_90_1_Warfrmae.xlsx',
 '18959_20211003_gg_91_1_한게임.xlsx',
 '18960_20211003_gg_92_1_뮤.xlsx',
 '18961_20211003_gg_93_1_카발온라인.xlsx',
 '18962_20211003_gg_94_1_Slay.xlsx',
 '18963_20211003_gg_95_1_로한.xlsx',
 '18964_20211003_gg_96_1_The.xlsx',
 '18965_20211003_gg_98_1_한게임.xlsx',
 '18966_20211003_gg_99_1_넷마블.xlsx',
 '18967_20211003_gg_102_1_샷온라인.xlsx',
 '18968_20211003_gg_103_1_RF온라인.xlsx',
 '18969_20211003_gg_104_1_워록.xlsx',
 '18970_20211003_gg_105_1_한게임.xlsx',
 '18971_20211003_gg_106_1_영웅온라인.xlsx',
 '18972_20211003_gg_107_1_Sid.xlsx',
 '18973_20211003_gg_108_1_War.xlsx',
 '18974_20211003_gg_109_1_Football.xlsx',
 '18975_20211003_gg_110_1_Sid.xlsx',
 '18976_20211003_gg_111_1_라그나로크.xlsx',
 '18977_20211003_gg_112_1_Dont.xlsx',
 '18978_20211003_gg_113_1_한게임.xlsx',
 '18979_20211003_gg_114_1_아틀란티카.xlsx',
 '18980_20211003_gg_115_1_넷마블.xlsx',
 '18981_20211003_gg_116_1_피망.xlsx',
 '18982_20211003_gg_117_1_데카론.xlsx',
 '18983_20211003_gg_118_1_미르의전설.xlsx',
 '18984_20211003_gg_119_1_Team.xlsx',
 '18985_20211003_gg_120_1_엠게임.xlsx',
 '18986_20211003_gg_121_1_DK온라인.xlsx',
 '18987_20211003_gg_122_1_Stardew.xlsx',
 '18988_20211003_gg_123_1_테일즈.xlsx',
 '18989_20211003_gg_124_1_넷마블.xlsx',
 '18990_20211003_gg_125_1_십이지천2.xlsx',
 '18991_20211003_gg_126_1_하운즈리로드.xlsx',
 '18992_20211003_gg_127_1_건즈.xlsx',
 '18993_20211003_gg_128_1_열혈강호.xlsx',
 '18994_20211003_gg_129_1_한게임.xlsx',
 '18995_20211003_gg_130_1_엠게임.xlsx',
 '18996_20211003_gg_132_1_크리티카.xlsx',
 '18997_20211003_gg_133_1_출조낚시왕.xlsx',
 '18998_20211003_gg_134_1_나이트.xlsx',
 '18999_20211003_gg_135_1_한게임.xlsx',
 '19000_20211003_gg_136_1_Hearts.xlsx',
 '19001_20211003_gg_137_1_대항해시대.xlsx',
 '19002_20211003_gg_139_1_붉은보석.xlsx',
 '19003_20211003_gg_140_1_엠게임.xlsx',
 '19004_20211003_gg_141_1_뮤.xlsx',
 '19005_20211003_gg_142_1_천상비.xlsx',
 '19006_20211003_gg_143_1_Euro.xlsx',
 '19007_20211003_gg_144_1_Total.xlsx',
 '19008_20211003_gg_145_1_군주.xlsx',
 '19009_20211003_gg_146_1_피망.xlsx',
 '19010_20211003_gg_147_1_내.xlsx',
 '19011_20211003_gg_148_1_귀혼.xlsx',
 '19012_20211003_gg_149_1_피망.xlsx',
 '19013_20211003_gg_151_1_칼온라인.xlsx',
 '19014_20211003_gg_152_1_믹스마스터.xlsx',
 '19015_20211003_gg_153_1_Factorio.xlsx',
 '19016_20211003_gg_155_1_Cities.xlsx',
 '19017_20211003_gg_156_1_구룡쟁패.xlsx',
 '19018_20211003_gg_158_1_7DaysToDie.xlsx',
 '19019_20211003_gg_159_1_The.xlsx',
 '19020_20211003_gg_160_1_야채부락리.xlsx',
 '19021_20211003_gg_161_1_넷마블.xlsx',
 '19022_20211003_gg_162_1_네이비필드.xlsx',
 '19023_20211003_gg_165_1_피망.xlsx',
 '19024_20211003_gg_166_1_피망.xlsx',
 '19025_20211003_gg_168_1_포키포키.xlsx',
 '19026_20211003_gg_169_1_Dead.xlsx',
 '19027_20211003_gg_170_1_Brawlhalla.xlsx',
 '19028_20211003_gg_171_1_SMITE.xlsx',
 '19029_20211003_gg_172_1_APEX.xlsx',
 '19030_20211003_gg_173_1_패스.xlsx',
 '19031_20211003_gg_174_1_GOD.xlsx',
 '19032_20211003_gg_175_1_ANTHEM.xlsx',
 '19033_20211003_gg_176_1_Human.xlsx',
 '19034_20211003_gg_177_1_Tom.xlsx',
 '19035_20211003_gg_178_1_The.xlsx',
 '19036_20211003_gg_179_1_Total.xlsx',
 '19037_20211003_gg_180_1_Dota.xlsx',
 '19038_20211003_gg_181_1_FIFA.xlsx',
 '19039_20211003_gg_182_1_Borderlands.xlsx',
 '19040_20211003_gg_183_1_Magic.xlsx',
 '19041_20211003_gg_184_1_레전드.xlsx',
 '19042_20211003_gg_185_1_Tom.xlsx',
 '19043_20211003_gg_186_1_콜.xlsx',
 '19044_20211003_gg_187_1_EVE.xlsx',
 '19045_20211003_gg_188_1_Red.xlsx',
 '19046_20211003_gg_189_1_NBA.xlsx',
 '19047_20211003_gg_190_1_Escape.xlsx',
 '19048_20211003_gg_191_1_Football.xlsx',
 '19049_20211003_gg_192_1_DJMAX.xlsx',
 '19050_20211003_gg_193_1_Wolcen.xlsx',
 '19051_20211003_gg_194_1_Conquerors.xlsx',
 '19052_20211003_gg_196_1_섀도우.xlsx',
 '19053_20211003_gg_198_1_SCP.xlsx',
 '19054_20211003_gg_199_1_Call.xlsx',
 '19055_20211003_gg_200_1_Hunters.xlsx',
 '19056_20211003_gg_201_1_observer.xlsx',
 '19057_20211003_gg_202_1_GTFO.xlsx',
 '19058_20211003_gg_203_1_Fall.xlsx',
 '19059_20211003_gg_204_1_Hyper.xlsx',
 '19060_20211003_gg_205_1_Trove.xlsx',
 '19061_20211003_gg_207_1_AMONG.xlsx',
 '19062_20211003_gg_209_1_이터널.xlsx',
 '19063_20211003_gg_210_1_Phasmophobia.xlsx',
 '19064_20211003_gg_211_1_Night.xlsx',
 '19065_20211003_gg_212_1_Witch.xlsx',
 '19066_20211003_gg_213_1_DRAGON.xlsx',
 '19067_20211003_gg_214_1_Trine.xlsx',
 '19068_20211003_gg_215_1_INSIDE.xlsx',
 '19069_20211003_gg_216_1_엘리온.xlsx',
 '19070_20211003_gg_217_1_Cyberpunk.xlsx',
 '19071_20211003_ggg_1_1_lol.xlsx',
 '19072_20211003_ggg_2_1_배그.xlsx',
 '19073_20211003_ggg_3_1_피파4.xlsx',
 '19074_20211003_ggg_4_1_옵치.xlsx',
 '19075_20211003_ggg_5_1_로스트아크.xlsx',
 '19076_20211003_ggg_6_1_메이플스토리.xlsx',
 '19077_20211003_ggg_7_1_서든.xlsx',
 '19078_20211003_ggg_8_1_카트.xlsx',
 '19079_20211003_ggg_9_1_스타크래프트.xlsx',
 '19081_20211003_ggg_10_1_던파.xlsx',
 '19082_20211003_ggg_11_1_월드.xlsx',
 '19083_20211003_ggg_12_1_리니지.xlsx',
 '19084_20211003_ggg_13_1_사이퍼즈.xlsx',
 '19085_20211003_ggg_14_1_Destiny.xlsx',
 '19086_20211003_ggg_15_1_아이온.xlsx',
 '19087_20211003_ggg_16_1_워크래프트3.xlsx',
 '19090_20211003_ggg_17_1_레인보우식스.xlsx',
 '19091_20211003_ggg_18_1_히어로즈.xlsx',
 '19092_20211003_ggg_19_1_블레이드.xlsx',
 '19093_20211003_ggg_20_1_테일즈런너.xlsx',
 '19094_20211003_ggg_21_1_디아블로3.xlsx',
 '19095_20211003_ggg_22_1_스타크래프트2.xlsx',
 '19096_20211003_ggg_23_1_크레이지.xlsx',
 '19097_20211003_ggg_24_1_검은사막.xlsx',
 '19098_20211003_ggg_25_1_리니지2.xlsx',
 '19099_20211003_ggg_26_1_GTA.xlsx',
 '19100_20211003_ggg_27_1_스페셜포스.xlsx',
 '19101_20211003_ggg_28_1_한게임.xlsx',
 '19102_20211003_ggg_29_1_DOTA.xlsx',
 '19103_20211003_ggg_30_1_파이널판타지.xlsx',
 '19104_20211003_ggg_31_1_Monster.xlsx',
 '19105_20211003_ggg_32_1_한게임.xlsx',
 '19106_20211003_ggg_33_1_마비노기.xlsx',
 '19107_20211003_ggg_34_1_거상.xlsx',
 '19108_20211003_ggg_35_1_R2.xlsx',
 '19109_20211003_ggg_36_1_하스스톤.xlsx',
 '19110_20211003_ggg_37_1_엘소드.xlsx',
 '19111_20211003_ggg_38_1_피망.xlsx',
 '19112_20211003_ggg_39_1_천애명월도.xlsx',
 '19113_20211003_ggg_40_1_버블파이터.xlsx',
 '19114_20211003_ggg_41_1_카운터.xlsx',
 '19115_20211003_ggg_42_1_한게임.xlsx',
 '19116_20211003_ggg_43_1_한게임.xlsx',
 '19117_20211003_ggg_44_1_마비노기.xlsx',
 '19118_20211003_ggg_45_1_클로저스.xlsx',
 '19119_20211003_ggg_46_1_디아블로2.xlsx',
 '19120_20211003_ggg_47_1_아바.xlsx',
 '19121_20211003_ggg_48_1_월드.xlsx',
 '19122_20211003_ggg_49_1_아키에이지.xlsx',
 '19123_20211003_ggg_50_1_CounterStrike.xlsx',
 '19124_20211003_ggg_51_1_겟앰프드.xlsx',
 '19125_20211003_ggg_52_1_마구마구.xlsx',
 '19126_20211003_ggg_53_1_슬러거.xlsx',
 '19127_20211003_ggg_54_1_프리스타일2.xlsx',
 '19128_20211003_ggg_55_1_뮤.xlsx',
 '19129_20211003_ggg_56_1_콜.xlsx',
 '19130_20211003_ggg_57_1_오디션.xlsx',
 '19131_20211003_ggg_58_1_엠게임.xlsx',
 '19132_20211003_ggg_59_1_TEKKEN.xlsx',
 '19133_20211003_ggg_60_1_프리스타일.xlsx',
 '19134_20211003_ggg_61_1_넷마블.xlsx',
 '19135_20211003_ggg_62_1_포트나이트.xlsx',
 '19136_20211003_ggg_64_1_라테일.xlsx',
 '19137_20211003_ggg_65_1_테라.xlsx',
 '19138_20211003_ggg_66_1_러브비트.xlsx',
 '19139_20211003_ggg_67_1_스페셜포스2.xlsx',
 '19140_20211003_ggg_68_1_바람의나라.xlsx',
 '19141_20211003_ggg_69_1_한게임.xlsx',
 '19142_20211003_ggg_70_1_피망.xlsx',
 '19143_20211003_ggg_71_1_Black.xlsx',
 '19144_20211003_ggg_72_1_넷마블.xlsx',
 '19145_20211003_ggg_73_1_클럽엠스타.xlsx',
 '19146_20211003_ggg_74_1_미르의전설2.xlsx',
 '19147_20211003_ggg_75_1_오로바둑.xlsx',
 '19148_20211003_ggg_76_1_한게임.xlsx',
 '19149_20211003_ggg_77_1_넷마블.xlsx',
 '19150_20211003_ggg_78_1_Left.xlsx',
 '19151_20211003_ggg_79_1_ARK.xlsx',
 '19152_20211003_ggg_80_1_에오스.xlsx',
 '19153_20211003_ggg_81_1_로스트사가.xlsx',
 '19154_20211003_ggg_82_1_프리스톤테일.xlsx',
 '19155_20211003_ggg_83_1_이카루스.xlsx',
 '19156_20211003_ggg_85_1_Rust.xlsx',
 '19157_20211003_ggg_86_1_소울워커.xlsx',
 '19158_20211003_ggg_88_1_한게임.xlsx',
 '19159_20211003_ggg_89_1_트리.xlsx',
 '19160_20211003_ggg_90_1_Warfrmae.xlsx',
 '19161_20211003_ggg_91_1_한게임.xlsx',
 '19162_20211003_ggg_92_1_뮤.xlsx',
 '19163_20211003_ggg_93_1_카발온라인.xlsx',
 '19164_20211003_ggg_94_1_Slay.xlsx',
 '19165_20211003_ggg_95_1_로한.xlsx',
 '19166_20211003_ggg_96_1_The.xlsx',
 '19167_20211003_ggg_98_1_한게임.xlsx',
 '19168_20211003_ggg_99_1_넷마블.xlsx',
 '19169_20211004_ggg_102_1_샷온라인.xlsx',
 '19170_20211004_ggg_103_1_RF온라인.xlsx',
 '19171_20211004_ggg_104_1_워록.xlsx',
 '19172_20211004_ggg_105_1_한게임.xlsx',
 '19173_20211004_ggg_106_1_영웅온라인.xlsx',
 '19174_20211004_ggg_107_1_Sid.xlsx',
 '19175_20211004_ggg_108_1_War.xlsx',
 '19176_20211004_ggg_109_1_Football.xlsx',
 '19177_20211004_ggg_110_1_Sid.xlsx',
 '19178_20211004_ggg_111_1_라그나로크.xlsx',
 '19179_20211004_ggg_112_1_Dont.xlsx',
 '19180_20211004_ggg_113_1_한게임.xlsx',
 '19181_20211004_ggg_114_1_아틀란티카.xlsx',
 '19182_20211004_ggg_115_1_넷마블.xlsx',
 '19183_20211004_ggg_116_1_피망.xlsx',
 '19184_20211004_ggg_117_1_데카론.xlsx',
 '19185_20211004_ggg_118_1_미르의전설.xlsx',
 '19186_20211004_ggg_119_1_Team.xlsx',
 '19187_20211004_ggg_121_1_DK온라인.xlsx',
 '19188_20211004_ggg_122_1_Stardew.xlsx',
 '19189_20211004_ggg_123_1_테일즈.xlsx',
 '19190_20211004_ggg_124_1_넷마블.xlsx',
 '19191_20211004_ggg_126_1_하운즈리로드.xlsx',
 '19192_20211004_ggg_127_1_건즈.xlsx',
 '19193_20211004_ggg_128_1_열혈강호.xlsx',
 '19194_20211004_ggg_132_1_크리티카.xlsx',
 '19195_20211004_ggg_133_1_출조낚시왕.xlsx',
 '19196_20211004_ggg_134_1_나이트.xlsx',
 '19197_20211004_ggg_136_1_Hearts.xlsx',
 '19198_20211004_ggg_137_1_대항해시대.xlsx',
 '19199_20211004_ggg_139_1_붉은보석.xlsx',
 '19200_20211004_ggg_141_1_뮤.xlsx',
 '19201_20211004_ggg_142_1_천상비.xlsx',
 '19202_20211004_ggg_143_1_Euro.xlsx',
 '19203_20211004_ggg_145_1_군주.xlsx',
 '19204_20211004_ggg_147_1_내.xlsx',

In [65]:
os.chdir("C:\\Users\\sh921\\Documents\\카카오톡 받은 파일\\RSNGAM~2\\RSN game_20190117-20210120")
print(os.getcwd())
# /Users

C:\Users\sh921\Documents\카카오톡 받은 파일\RSNGAM~2\RSN game_20190117-20210120

In [67]:
import pandas as pd

for file in file_list:
    # 첫번째 시트를 읽어옵니다.
    df1 = pd.read_excel(file, sheet_name = '긍정')
    # 두번째 시트를 읽어옵니다.
    df2 = pd.read_excel(file, sheet_name = '부정')
    df3 = pd.read_excel(file, sheet_name = '중립')
    concatted_df = pd.concat([df1,df2,df3], axis=1)
    concatted_df['gameCode'] = file 
    concatted_df.to_csv('{}.csv'.format(file))

C:\Users\sh921\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

# 하나의 파일로 합치기

In [68]:
import os
file_list = os.listdir('C:\\Users\\sh921\\Desktop\\gamefinal\\rsn_raw')
file_list

['18517_20210924_g_1_1_lol.xlsx.csv',
 '18518_20210924_g_2_1_배그.xlsx.csv',
 '18519_20210924_g_3_1_피파4.xlsx.csv',
 '18520_20210924_g_4_1_옵치.xlsx.csv',
 '18521_20210924_g_5_1_로스트아크.xlsx.csv',
 '18522_20210924_g_6_1_메이플스토리.xlsx.csv',
 '18523_20210924_g_7_1_서든.xlsx.csv',
 '18524_20210924_g_8_1_카트.xlsx.csv',
 '18525_20210924_g_9_1_스타크래프트.xlsx.csv',
 '18526_20210924_g_10_1_던파.xlsx.csv',
 '18527_20210924_g_11_1_월드.xlsx.csv',
 '18528_20210924_g_12_1_리니지.xlsx.csv',
 '18529_20210924_g_13_1_사이퍼즈.xlsx.csv',
 '18530_20210924_g_14_1_Destiny.xlsx.csv',
 '18531_20210924_g_15_1_아이온.xlsx.csv',
 '18532_20210924_g_16_1_워크래프트3.xlsx.csv',
 '18533_20210924_g_17_1_레인보우식스.xlsx.csv',
 '18534_20210924_g_18_1_히어로즈.xlsx.csv',
 '18535_20210924_g_19_1_블레이드.xlsx.csv',
 '18536_20210924_g_20_1_테일즈런너.xlsx.csv',
 '18537_20210924_g_21_1_디아블로3.xlsx.csv',
 '18538_20210924_g_22_1_스타크래프트2.xlsx.csv',
 '18539_20210924_g_23_1_크레이지.xlsx.csv',
 '18540_20210924_g_24_1_검은사막.xlsx.csv',
 '18541_20210924_g_25_1_리니지2.xlsx.csv',
 '18542_20210924_g_26_1_GTA.xlsx.csv',
 '18543_20210924_g_27_1_스페셜포스.xlsx.csv',
 '18544_20210924_g_28_1_한게임.xlsx.csv',
 '18545_20210924_g_29_1_DOTA.xlsx.csv',
 '18546_20210924_g_30_1_파이널판타지.xlsx.csv',
 '18547_20210924_g_31_1_Monster.xlsx.csv',
 '18548_20210924_g_32_1_한게임.xlsx.csv',
 '18549_20210924_g_33_1_마비노기.xlsx.csv',
 '18550_20210924_g_34_1_거상.xlsx.csv',
 '18551_20210924_g_35_1_R2.xlsx.csv',
 '18552_20210924_g_36_1_하스스톤.xlsx.csv',
 '18553_20210924_g_37_1_엘소드.xlsx.csv',
 '18554_20210924_g_38_1_피망.xlsx.csv',
 '18555_20210924_g_39_1_천애명월도.xlsx.csv',
 '18556_20210924_g_40_1_버블파이터.xlsx.csv',
 '18557_20210924_g_41_1_카운터.xlsx.csv',
 '18558_20210924_g_42_1_한게임.xlsx.csv',
 '18559_20210924_g_43_1_한게임.xlsx.csv',
 '18560_20210924_g_44_1_마비노기.xlsx.csv',
 '18561_20210924_g_45_1_클로저스.xlsx.csv',
 '18563_20210924_g_46_1_디아블로2.xlsx.csv',
 '18564_20210924_g_47_1_아바.xlsx.csv',
 '18565_20210924_g_48_1_월드.xlsx.csv',
 '18566_20210924_g_49_1_아키에이지.xlsx.csv',
 '18567_20210924_g_50_1_CounterStrike.xlsx.csv',
 '18568_20210924_g_51_1_겟앰프드.xlsx.csv',
 '18569_20210924_g_52_1_마구마구.xlsx.csv',
 '18570_20210924_g_53_1_슬러거.xlsx.csv',
 '18571_20210924_g_54_1_프리스타일2.xlsx.csv',
 '18572_20210924_g_55_1_뮤.xlsx.csv',
 '18573_20210924_g_56_1_콜.xlsx.csv',
 '18574_20210924_g_57_1_오디션.xlsx.csv',
 '18575_20210924_g_58_1_엠게임.xlsx.csv',
 '18576_20210924_g_59_1_TEKKEN.xlsx.csv',
 '18577_20210924_g_60_1_프리스타일.xlsx.csv',
 '18578_20210924_g_61_1_넷마블.xlsx.csv',
 '18579_20210924_g_62_1_포트나이트.xlsx.csv',
 '18580_20210924_g_63_1_한게임.xlsx.csv',
 '18581_20210924_g_64_1_라테일.xlsx.csv',
 '18582_20210924_g_65_1_테라.xlsx.csv',
 '18583_20210924_g_66_1_러브비트.xlsx.csv',
 '18584_20210924_g_67_1_스페셜포스2.xlsx.csv',
 '18585_20210924_g_68_1_바람의나라.xlsx.csv',
 '18586_20210924_g_69_1_한게임.xlsx.csv',
 '18588_20210924_g_71_1_Black.xlsx.csv',
 '18590_20210924_g_73_1_클럽엠스타.xlsx.csv',
 '18591_20210924_g_74_1_미르의전설2.xlsx.csv',
 '18592_20210924_g_75_1_오로바둑.xlsx.csv',
 '18593_20210924_g_76_1_한게임.xlsx.csv',
 '18594_20210924_g_77_1_넷마블.xlsx.csv',
 '18595_20210924_g_78_1_Left.xlsx.csv',
 '18596_20210924_g_79_1_ARK.xlsx.csv',
 '18597_20210924_g_80_1_에오스.xlsx.csv',
 '18598_20210924_g_81_1_로스트사가.xlsx.csv',
 '18599_20210924_g_82_1_프리스톤테일.xlsx.csv',
 '18600_20210924_g_83_1_이카루스.xlsx.csv',
 '18601_20210924_g_84_1_프리스타일풋볼Z.xlsx.csv',
 '18603_20210924_g_85_1_Rust.xlsx.csv',
 '18604_20210924_g_86_1_소울워커.xlsx.csv',
 '18605_20210924_g_87_1_피망.xlsx.csv',
 '18606_20210924_g_88_1_한게임.xlsx.csv',
 '18620_20210924_g_89_1_트리.xlsx.csv',
 '18621_20210924_g_90_1_Warfrmae.xlsx.csv',
 '18622_20210924_g_91_1_한게임.xlsx.csv',
 '18623_20210924_g_92_1_뮤.xlsx.csv',
 '18624_20210924_g_93_1_카발온라인.xlsx.csv',
 '18625_20210924_g_94_1_Slay.xlsx.csv',
 '18626_20210924_g_95_1_로한.xlsx.csv',
 '18627_20210924_g_96_1_The.xlsx.csv',
 '18628_20210924_g_98_1_한게임.xlsx.csv',
 '18629_20210924_g_99_1_넷마블.xlsx.csv',
 '18630_20210924_g_100_1_넷마블.xlsx.csv',
 '18631_20210924_g_102_1_샷온라인.xlsx.csv',
 '18632_20210924_g_103_1_RF온라인.xlsx.csv',
 '18633_20210924_g_104_1_워록.xlsx.csv',
 '18634_20210924_g_105_1_한게임.xlsx.csv',
 '18635_20210924_g_106_1_영웅온라인.xlsx.csv',
 '18636_20210924_g_107_1_Sid.xlsx.csv',
 '18637_20210924_g_108_1_War.xlsx.csv',
 '18638_20210924_g_109_1_Football.xlsx.csv',
 '18639_20210924_g_110_1_Sid.xlsx.csv',
 '18640_20210924_g_111_1_라그나로크.xlsx.csv',
 '18641_20210924_g_112_1_Dont.xlsx.csv',
 '18642_20210924_g_113_1_한게임.xlsx.csv',
 '18643_20210924_g_114_1_아틀란티카.xlsx.csv',
 '18644_20210924_g_115_1_넷마블.xlsx.csv',
 '18645_20210924_g_116_1_피망.xlsx.csv',
 '18646_20210924_g_117_1_데카론.xlsx.csv',
 '18647_20210924_g_118_1_미르의전설.xlsx.csv',
 '18648_20210924_g_119_1_Team.xlsx.csv',
 '18649_20210924_g_120_1_엠게임.xlsx.csv',
 '18650_20210924_g_121_1_DK온라인.xlsx.csv',
 '18651_20210924_g_122_1_122.xlsx.csv',
 '18652_20210924_g_123_1_테일즈.xlsx.csv',
 '18653_20210924_g_124_1_넷마블.xlsx.csv',
 '18654_20210924_g_125_1_십이지천2.xlsx.csv',
 '18655_20210924_g_126_1_하운즈리로드.xlsx.csv',
 '18656_20210924_g_127_1_건즈.xlsx.csv',
 '18657_20210924_g_128_1_열혈강호.xlsx.csv',
 '18658_20210924_g_129_1_한게임.xlsx.csv',
 '18659_20210924_g_130_1_엠게임.xlsx.csv',
 '18660_20210924_g_132_1_크리티카.xlsx.csv',
 '18661_20210924_g_133_1_출조낚시왕.xlsx.csv',
 '18662_20210924_g_134_1_나이트.xlsx.csv',
 '18663_20210924_g_136_1_Hearts.xlsx.csv',
 '18664_20210924_g_137_1_대항해시대.xlsx.csv',
 '18665_20210924_g_138_1_엠게임.xlsx.csv',
 '18666_20210924_g_139_1_붉은보석.xlsx.csv',
 '18667_20210924_g_140_1_엠게임.xlsx.csv',
 '18668_20210924_g_141_1_뮤.xlsx.csv',
 '18669_20210924_g_142_1_천상비.xlsx.csv',
 '18670_20210924_g_143_1_Euro.xlsx.csv',
 '18671_20210924_g_144_1_Total.xlsx.csv',
 '18673_20210924_g_147_1_내.xlsx.csv',
 '18674_20210924_g_148_1_귀혼.xlsx.csv',
 '18675_20210924_g_149_1_피망.xlsx.csv',
 '18676_20210924_g_150_1_넷마블.xlsx.csv',
 '18677_20210925_g_151_1_칼온라인.xlsx.csv',
 '18678_20210925_g_152_1_믹스마스터.xlsx.csv',
 '18679_20210925_g_153_1_Factorio.xlsx.csv',
 '18680_20210925_g_154_1_넷마블.xlsx.csv',
 '18681_20210925_g_155_1_Cities.xlsx.csv',
 '18682_20210925_g_156_1_구룡쟁패.xlsx.csv',
 '18683_20210925_g_158_1_7DaysToDie.xlsx.csv',
 '18684_20210925_g_159_1_The.xlsx.csv',
 '18685_20210925_g_160_1_야채부락리.xlsx.csv',
 '18686_20210925_g_161_1_넷마블.xlsx.csv',
 '18687_20210925_g_162_1_네이비필드.xlsx.csv',
 '18688_20210925_g_163_1_넷마블.xlsx.csv',
 '18689_20210925_g_165_1_피망.xlsx.csv',
 '18690_20210925_g_168_1_포키포키.xlsx.csv',
 '18691_20210925_g_169_1_Dead.xlsx.csv',
 '18692_20210925_g_170_1_Brawlhalla.xlsx.csv',
 '18693_20210925_g_171_1_SMITE.xlsx.csv',
 '18694_20210925_g_172_1_APEX.xlsx.csv',
 '18695_20210925_g_173_1_패스.xlsx.csv',
 '18696_20210925_g_174_1_GOD.xlsx.csv',
 '18697_20210925_g_175_1_ANTHEM.xlsx.csv',
 '18698_20210925_g_176_1_Human.xlsx.csv',
 '18699_20210925_g_177_1_Tom.xlsx.csv',
 '18700_20210925_g_178_1_The.xlsx.csv',
 '18701_20210925_g_179_1_Total.xlsx.csv',
 '18702_20210925_g_180_1_Dota.xlsx.csv',
 '18703_20210925_g_181_1_FIFA.xlsx.csv',
 '18704_20210925_g_182_1_Borderlands.xlsx.csv',
 '18705_20210925_g_183_1_Magic.xlsx.csv',
 '18706_20210925_g_184_1_레전드.xlsx.csv',
 '18707_20210925_g_185_1_Tom.xlsx.csv',
 '18709_20210925_g_186_1_콜.xlsx.csv',
 '18710_20210925_g_187_1_EVE.xlsx.csv',
 '18711_20210925_g_188_1_Red.xlsx.csv',
 '18712_20210925_g_189_1_NBA.xlsx.csv',
 '18713_20210925_g_190_1_Escape.xlsx.csv',
 '18714_20210925_g_191_1_Football.xlsx.csv',
 '18715_20210925_g_192_1_DJMAX.xlsx.csv',
 '18716_20210925_g_193_1_Wolcen.xlsx.csv',
 '18717_20210925_g_194_1_Conquerors.xlsx.csv',
 '18718_20210925_g_196_1_섀도우.xlsx.csv',
 '18719_20210925_g_197_1_발로란트.xlsx.csv',
 '18720_20210925_g_198_1_SCP.xlsx.csv',
 '18721_20210925_g_199_1_Call.xlsx.csv',
 '18722_20210925_g_200_1_Hunters.xlsx.csv',
 '18723_20210925_g_201_1_observer.xlsx.csv',
 '18724_20210925_g_202_1_GTFO.xlsx.csv',
 '18725_20210925_g_203_1_Fall.xlsx.csv',
 '18726_20210925_g_204_1_Hyper.xlsx.csv',
 '18727_20210925_g_205_1_Trove.xlsx.csv',
 '18728_20210925_g_206_1_astellia.xlsx.csv',
 '18729_20210925_g_207_1_AMONG.xlsx.csv',
 '18731_20210925_g_209_1_이터널.xlsx.csv',
 '18732_20210925_g_210_1_Phasmophobia.xlsx.csv',
 '18733_20210925_g_211_1_Night.xlsx.csv',
 '18734_20210925_g_212_1_Witch.xlsx.csv',
 '18735_20210925_g_213_1_DRAGON.xlsx.csv',
 '18736_20210925_g_214_1_Trine.xlsx.csv',
 '18737_20210925_g_215_1_INSIDE.xlsx.csv',
 '18738_20210925_g_216_1_엘리온.xlsx.csv',
 '18739_20210925_g_217_1_Cyberpunk.xlsx.csv',
 '18869_20211003_gg_1_1_lol.xlsx.csv',
 '18870_20211003_gg_2_1_배그.xlsx.csv',
 '18871_20211003_gg_3_1_피파4.xlsx.csv',
 '18872_20211003_gg_4_1_옵치.xlsx.csv',
 '18873_20211003_gg_5_1_로스트아크.xlsx.csv',
 '18874_20211003_gg_6_1_메이플스토리.xlsx.csv',
 '18875_20211003_gg_7_1_서든.xlsx.csv',
 '18876_20211003_gg_8_1_카트.xlsx.csv',
 '18877_20211003_gg_9_1_스타크래프트.xlsx.csv',
 '18878_20211003_gg_10_1_던파.xlsx.csv',
 '18879_20211003_gg_11_1_월드.xlsx.csv',
 '18880_20211003_gg_12_1_리니지.xlsx.csv',
 '18881_20211003_gg_13_1_사이퍼즈.xlsx.csv',
 '18882_20211003_gg_14_1_Destiny.xlsx.csv',
 '18883_20211003_gg_15_1_아이온.xlsx.csv',
 '18884_20211003_gg_16_1_워크래프트3.xlsx.csv',
 '18885_20211003_gg_17_1_레인보우식스.xlsx.csv',
 '18886_20211003_gg_18_1_히어로즈.xlsx.csv',
 '18887_20211003_gg_19_1_블레이드.xlsx.csv',
 '18888_20211003_gg_20_1_테일즈런너.xlsx.csv',
 '18889_20211003_gg_21_1_디아블로3.xlsx.csv',
 '18890_20211003_gg_22_1_스타크래프트2.xlsx.csv',
 '18891_20211003_gg_23_1_크레이지.xlsx.csv',
 '18893_20211003_gg_25_1_리니지2.xlsx.csv',
 '18894_20211003_gg_26_1_GTA.xlsx.csv',
 '18895_20211003_gg_27_1_스페셜포스.xlsx.csv',
 '18896_20211003_gg_28_1_한게임.xlsx.csv',
 '18897_20211003_gg_29_1_DOTA.xlsx.csv',
 '18898_20211003_gg_30_1_파이널판타지.xlsx.csv',
 '18899_20211003_gg_31_1_Monster.xlsx.csv',
 '18900_20211003_gg_32_1_한게임.xlsx.csv',
 '18901_20211003_gg_33_1_마비노기.xlsx.csv',
 '18902_20211003_gg_34_1_거상.xlsx.csv',
 '18903_20211003_gg_35_1_R2.xlsx.csv',
 '18904_20211003_gg_36_1_하스스톤.xlsx.csv',
 '18905_20211003_gg_37_1_엘소드.xlsx.csv',
 '18906_20211003_gg_38_1_피망.xlsx.csv',
 '18907_20211003_gg_39_1_천애명월도.xlsx.csv',
 '18908_20211003_gg_40_1_버블파이터.xlsx.csv',
 '18909_20211003_gg_41_1_카운터.xlsx.csv',
 '18910_20211003_gg_42_1_한게임.xlsx.csv',
 '18911_20211003_gg_43_1_한게임.xlsx.csv',
 '18912_20211003_gg_44_1_마비노기.xlsx.csv',
 '18913_20211003_gg_45_1_클로저스.xlsx.csv',
 '18914_20211003_gg_46_1_디아블로2.xlsx.csv',
 '18915_20211003_gg_47_1_아바.xlsx.csv',
 '18916_20211003_gg_48_1_월드.xlsx.csv',
 '18917_20211003_gg_49_1_아키에이지.xlsx.csv',
 '18918_20211003_gg_50_1_CounterStrike.xlsx.csv',
 '18919_20211003_gg_51_1_겟앰프드.xlsx.csv',
 '18920_20211003_gg_52_1_마구마구.xlsx.csv',
 '18921_20211003_gg_53_1_슬러거.xlsx.csv',
 '18922_20211003_gg_54_1_프리스타일2.xlsx.csv',
 '18923_20211003_gg_55_1_뮤.xlsx.csv',
 '18924_20211003_gg_56_1_콜.xlsx.csv',
 '18925_20211003_gg_57_1_오디션.xlsx.csv',
 '18926_20211003_gg_58_1_엠게임.xlsx.csv',
 '18927_20211003_gg_59_1_TEKKEN.xlsx.csv',
 '18928_20211003_gg_60_1_프리스타일.xlsx.csv',
 '18929_20211003_gg_61_1_넷마블.xlsx.csv',
 '18930_20211003_gg_62_1_포트나이트.xlsx.csv',
 '18931_20211003_gg_63_1_한게임.xlsx.csv',
 '18932_20211003_gg_64_1_라테일.xlsx.csv',
 '18933_20211003_gg_65_1_테라.xlsx.csv',
 '18934_20211003_gg_66_1_러브비트.xlsx.csv',
 '18935_20211003_gg_67_1_스페셜포스2.xlsx.csv',
 '18936_20211003_gg_68_1_바람의나라.xlsx.csv',
 '18937_20211003_gg_69_1_한게임.xlsx.csv',
 '18938_20211003_gg_70_1_피망.xlsx.csv',
 '18939_20211003_gg_71_1_Black.xlsx.csv',
 '18940_20211003_gg_72_1_넷마블.xlsx.csv',
 '18941_20211003_gg_73_1_클럽엠스타.xlsx.csv',
 '18942_20211003_gg_74_1_미르의전설2.xlsx.csv',
 '18943_20211003_gg_75_1_오로바둑.xlsx.csv',
 '18944_20211003_gg_76_1_한게임.xlsx.csv',
 '18945_20211003_gg_77_1_넷마블.xlsx.csv',
 '18946_20211003_gg_78_1_Left.xlsx.csv',
 '18947_20211003_gg_79_1_ARK.xlsx.csv',
 '18948_20211003_gg_80_1_에오스.xlsx.csv',
 '18949_20211003_gg_81_1_로스트사가.xlsx.csv',
 '18950_20211003_gg_82_1_프리스톤테일.xlsx.csv',
 '18951_20211003_gg_83_1_이카루스.xlsx.csv',
 '18952_20211003_gg_84_1_프리스타일풋볼Z.xlsx.csv',
 '18953_20211003_gg_85_1_Rust.xlsx.csv',
 '18954_20211003_gg_86_1_소울워커.xlsx.csv',
 '18955_20211003_gg_87_1_피망.xlsx.csv',
 '18956_20211003_gg_88_1_한게임.xlsx.csv',
 '18957_20211003_gg_89_1_트리.xlsx.csv',
 '18958_20211003_gg_90_1_Warfrmae.xlsx.csv',
 '18959_20211003_gg_91_1_한게임.xlsx.csv',
 '18960_20211003_gg_92_1_뮤.xlsx.csv',
 '18961_20211003_gg_93_1_카발온라인.xlsx.csv',
 '18962_20211003_gg_94_1_Slay.xlsx.csv',
 '18963_20211003_gg_95_1_로한.xlsx.csv',
 '18964_20211003_gg_96_1_The.xlsx.csv',
 '18965_20211003_gg_98_1_한게임.xlsx.csv',
 '18966_20211003_gg_99_1_넷마블.xlsx.csv',
 '18967_20211003_gg_102_1_샷온라인.xlsx.csv',
 '18968_20211003_gg_103_1_RF온라인.xlsx.csv',
 '18969_20211003_gg_104_1_워록.xlsx.csv',
 '18970_20211003_gg_105_1_한게임.xlsx.csv',
 '18971_20211003_gg_106_1_영웅온라인.xlsx.csv',
 '18972_20211003_gg_107_1_Sid.xlsx.csv',
 '18973_20211003_gg_108_1_War.xlsx.csv',
 '18974_20211003_gg_109_1_Football.xlsx.csv',
 '18975_20211003_gg_110_1_Sid.xlsx.csv',
 '18976_20211003_gg_111_1_라그나로크.xlsx.csv',
 '18977_20211003_gg_112_1_Dont.xlsx.csv',
 '18978_20211003_gg_113_1_한게임.xlsx.csv',
 '18979_20211003_gg_114_1_아틀란티카.xlsx.csv',
 '18980_20211003_gg_115_1_넷마블.xlsx.csv',
 '18981_20211003_gg_116_1_피망.xlsx.csv',
 '18982_20211003_gg_117_1_데카론.xlsx.csv',
 '18983_20211003_gg_118_1_미르의전설.xlsx.csv',
 '18984_20211003_gg_119_1_Team.xlsx.csv',
 '18985_20211003_gg_120_1_엠게임.xlsx.csv',
 '18986_20211003_gg_121_1_DK온라인.xlsx.csv',
 '18987_20211003_gg_122_1_Stardew.xlsx.csv',
 '18988_20211003_gg_123_1_테일즈.xlsx.csv',
 '18989_20211003_gg_124_1_넷마블.xlsx.csv',
 '18990_20211003_gg_125_1_십이지천2.xlsx.csv',
 '18991_20211003_gg_126_1_하운즈리로드.xlsx.csv',
 '18992_20211003_gg_127_1_건즈.xlsx.csv',
 '18993_20211003_gg_128_1_열혈강호.xlsx.csv',
 '18994_20211003_gg_129_1_한게임.xlsx.csv',
 '18995_20211003_gg_130_1_엠게임.xlsx.csv',
 '18996_20211003_gg_132_1_크리티카.xlsx.csv',
 '18997_20211003_gg_133_1_출조낚시왕.xlsx.csv',
 '18998_20211003_gg_134_1_나이트.xlsx.csv',
 '18999_20211003_gg_135_1_한게임.xlsx.csv',
 '19000_20211003_gg_136_1_Hearts.xlsx.csv',
 '19001_20211003_gg_137_1_대항해시대.xlsx.csv',
 '19002_20211003_gg_139_1_붉은보석.xlsx.csv',
 '19003_20211003_gg_140_1_엠게임.xlsx.csv',
 '19004_20211003_gg_141_1_뮤.xlsx.csv',
 '19005_20211003_gg_142_1_천상비.xlsx.csv',
 '19006_20211003_gg_143_1_Euro.xlsx.csv',
 '19007_20211003_gg_144_1_Total.xlsx.csv',
 '19008_20211003_gg_145_1_군주.xlsx.csv',
 '19009_20211003_gg_146_1_피망.xlsx.csv',
 '19010_20211003_gg_147_1_내.xlsx.csv',
 '19011_20211003_gg_148_1_귀혼.xlsx.csv',
 '19012_20211003_gg_149_1_피망.xlsx.csv',
 '19013_20211003_gg_151_1_칼온라인.xlsx.csv',
 '19014_20211003_gg_152_1_믹스마스터.xlsx.csv',
 '19015_20211003_gg_153_1_Factorio.xlsx.csv',
 '19016_20211003_gg_155_1_Cities.xlsx.csv',
 '19017_20211003_gg_156_1_구룡쟁패.xlsx.csv',
 '19018_20211003_gg_158_1_7DaysToDie.xlsx.csv',
 '19019_20211003_gg_159_1_The.xlsx.csv',
 '19020_20211003_gg_160_1_야채부락리.xlsx.csv',
 '19021_20211003_gg_161_1_넷마블.xlsx.csv',
 '19022_20211003_gg_162_1_네이비필드.xlsx.csv',
 '19023_20211003_gg_165_1_피망.xlsx.csv',
 '19024_20211003_gg_166_1_피망.xlsx.csv',
 '19025_20211003_gg_168_1_포키포키.xlsx.csv',
 '19026_20211003_gg_169_1_Dead.xlsx.csv',
 '19027_20211003_gg_170_1_Brawlhalla.xlsx.csv',
 '19028_20211003_gg_171_1_SMITE.xlsx.csv',
 '19029_20211003_gg_172_1_APEX.xlsx.csv',
 '19030_20211003_gg_173_1_패스.xlsx.csv',
 '19031_20211003_gg_174_1_GOD.xlsx.csv',
 '19032_20211003_gg_175_1_ANTHEM.xlsx.csv',
 '19033_20211003_gg_176_1_Human.xlsx.csv',
 '19034_20211003_gg_177_1_Tom.xlsx.csv',
 '19035_20211003_gg_178_1_The.xlsx.csv',
 '19036_20211003_gg_179_1_Total.xlsx.csv',
 '19037_20211003_gg_180_1_Dota.xlsx.csv',
 '19038_20211003_gg_181_1_FIFA.xlsx.csv',
 '19039_20211003_gg_182_1_Borderlands.xlsx.csv',
 '19040_20211003_gg_183_1_Magic.xlsx.csv',
 '19041_20211003_gg_184_1_레전드.xlsx.csv',
 '19042_20211003_gg_185_1_Tom.xlsx.csv',
 '19043_20211003_gg_186_1_콜.xlsx.csv',
 '19044_20211003_gg_187_1_EVE.xlsx.csv',
 '19045_20211003_gg_188_1_Red.xlsx.csv',
 '19046_20211003_gg_189_1_NBA.xlsx.csv',
 '19047_20211003_gg_190_1_Escape.xlsx.csv',
 '19048_20211003_gg_191_1_Football.xlsx.csv',
 '19049_20211003_gg_192_1_DJMAX.xlsx.csv',
 '19050_20211003_gg_193_1_Wolcen.xlsx.csv',
 '19051_20211003_gg_194_1_Conquerors.xlsx.csv',
 '19052_20211003_gg_196_1_섀도우.xlsx.csv',
 '19053_20211003_gg_198_1_SCP.xlsx.csv',
 '19054_20211003_gg_199_1_Call.xlsx.csv',
 '19055_20211003_gg_200_1_Hunters.xlsx.csv',
 '19056_20211003_gg_201_1_observer.xlsx.csv',
 '19057_20211003_gg_202_1_GTFO.xlsx.csv',
 '19058_20211003_gg_203_1_Fall.xlsx.csv',
 '19059_20211003_gg_204_1_Hyper.xlsx.csv',
 '19060_20211003_gg_205_1_Trove.xlsx.csv',
 '19061_20211003_gg_207_1_AMONG.xlsx.csv',
 '19062_20211003_gg_209_1_이터널.xlsx.csv',
 '19063_20211003_gg_210_1_Phasmophobia.xlsx.csv',
 '19064_20211003_gg_211_1_Night.xlsx.csv',
 '19065_20211003_gg_212_1_Witch.xlsx.csv',
 '19066_20211003_gg_213_1_DRAGON.xlsx.csv',
 '19067_20211003_gg_214_1_Trine.xlsx.csv',
 '19068_20211003_gg_215_1_INSIDE.xlsx.csv',
 '19069_20211003_gg_216_1_엘리온.xlsx.csv',
 '19070_20211003_gg_217_1_Cyberpunk.xlsx.csv',
 '19071_20211003_ggg_1_1_lol.xlsx.csv',
 '19072_20211003_ggg_2_1_배그.xlsx.csv',
 '19073_20211003_ggg_3_1_피파4.xlsx.csv',
 '19074_20211003_ggg_4_1_옵치.xlsx.csv',
 '19075_20211003_ggg_5_1_로스트아크.xlsx.csv',
 '19076_20211003_ggg_6_1_메이플스토리.xlsx.csv',
 '19077_20211003_ggg_7_1_서든.xlsx.csv',
 '19078_20211003_ggg_8_1_카트.xlsx.csv',
 '19079_20211003_ggg_9_1_스타크래프트.xlsx.csv',
 '19081_20211003_ggg_10_1_던파.xlsx.csv',
 '19082_20211003_ggg_11_1_월드.xlsx.csv',
 '19083_20211003_ggg_12_1_리니지.xlsx.csv',
 '19084_20211003_ggg_13_1_사이퍼즈.xlsx.csv',
 '19085_20211003_ggg_14_1_Destiny.xlsx.csv',
 '19086_20211003_ggg_15_1_아이온.xlsx.csv',
 '19087_20211003_ggg_16_1_워크래프트3.xlsx.csv',
 '19090_20211003_ggg_17_1_레인보우식스.xlsx.csv',
 '19091_20211003_ggg_18_1_히어로즈.xlsx.csv',
 '19092_20211003_ggg_19_1_블레이드.xlsx.csv',
 '19093_20211003_ggg_20_1_테일즈런너.xlsx.csv',
 '19094_20211003_ggg_21_1_디아블로3.xlsx.csv',
 '19095_20211003_ggg_22_1_스타크래프트2.xlsx.csv',
 '19096_20211003_ggg_23_1_크레이지.xlsx.csv',
 '19097_20211003_ggg_24_1_검은사막.xlsx.csv',
 '19098_20211003_ggg_25_1_리니지2.xlsx.csv',
 '19099_20211003_ggg_26_1_GTA.xlsx.csv',
 '19100_20211003_ggg_27_1_스페셜포스.xlsx.csv',
 '19101_20211003_ggg_28_1_한게임.xlsx.csv',
 '19102_20211003_ggg_29_1_DOTA.xlsx.csv',
 '19103_20211003_ggg_30_1_파이널판타지.xlsx.csv',
 '19104_20211003_ggg_31_1_Monster.xlsx.csv',
 '19105_20211003_ggg_32_1_한게임.xlsx.csv',
 '19106_20211003_ggg_33_1_마비노기.xlsx.csv',
 '19107_20211003_ggg_34_1_거상.xlsx.csv',
 '19108_20211003_ggg_35_1_R2.xlsx.csv',
 '19109_20211003_ggg_36_1_하스스톤.xlsx.csv',
 '19110_20211003_ggg_37_1_엘소드.xlsx.csv',
 '19111_20211003_ggg_38_1_피망.xlsx.csv',
 '19112_20211003_ggg_39_1_천애명월도.xlsx.csv',
 '19113_20211003_ggg_40_1_버블파이터.xlsx.csv',
 '19114_20211003_ggg_41_1_카운터.xlsx.csv',
 '19115_20211003_ggg_42_1_한게임.xlsx.csv',
 '19116_20211003_ggg_43_1_한게임.xlsx.csv',
 '19117_20211003_ggg_44_1_마비노기.xlsx.csv',
 '19118_20211003_ggg_45_1_클로저스.xlsx.csv',
 '19119_20211003_ggg_46_1_디아블로2.xlsx.csv',
 '19120_20211003_ggg_47_1_아바.xlsx.csv',
 '19121_20211003_ggg_48_1_월드.xlsx.csv',
 '19122_20211003_ggg_49_1_아키에이지.xlsx.csv',
 '19123_20211003_ggg_50_1_CounterStrike.xlsx.csv',
 '19124_20211003_ggg_51_1_겟앰프드.xlsx.csv',
 '19125_20211003_ggg_52_1_마구마구.xlsx.csv',
 '19126_20211003_ggg_53_1_슬러거.xlsx.csv',
 '19127_20211003_ggg_54_1_프리스타일2.xlsx.csv',
 '19128_20211003_ggg_55_1_뮤.xlsx.csv',
 '19129_20211003_ggg_56_1_콜.xlsx.csv',
 '19130_20211003_ggg_57_1_오디션.xlsx.csv',
 '19131_20211003_ggg_58_1_엠게임.xlsx.csv',
 '19132_20211003_ggg_59_1_TEKKEN.xlsx.csv',
 '19133_20211003_ggg_60_1_프리스타일.xlsx.csv',
 '19134_20211003_ggg_61_1_넷마블.xlsx.csv',
 '19135_20211003_ggg_62_1_포트나이트.xlsx.csv',
 '19136_20211003_ggg_64_1_라테일.xlsx.csv',
 '19137_20211003_ggg_65_1_테라.xlsx.csv',
 '19138_20211003_ggg_66_1_러브비트.xlsx.csv',
 '19139_20211003_ggg_67_1_스페셜포스2.xlsx.csv',
 '19140_20211003_ggg_68_1_바람의나라.xlsx.csv',
 '19141_20211003_ggg_69_1_한게임.xlsx.csv',
 '19142_20211003_ggg_70_1_피망.xlsx.csv',
 '19143_20211003_ggg_71_1_Black.xlsx.csv',
 '19144_20211003_ggg_72_1_넷마블.xlsx.csv',
 '19145_20211003_ggg_73_1_클럽엠스타.xlsx.csv',
 '19146_20211003_ggg_74_1_미르의전설2.xlsx.csv',
 '19147_20211003_ggg_75_1_오로바둑.xlsx.csv',
 '19148_20211003_ggg_76_1_한게임.xlsx.csv',
 '19149_20211003_ggg_77_1_넷마블.xlsx.csv',
 '19150_20211003_ggg_78_1_Left.xlsx.csv',
 '19151_20211003_ggg_79_1_ARK.xlsx.csv',
 '19152_20211003_ggg_80_1_에오스.xlsx.csv',
 '19153_20211003_ggg_81_1_로스트사가.xlsx.csv',

In [70]:
os.chdir("C:\\Users\\sh921\\Desktop\\gamefinal\\rsn_raw\\")
print(os.getcwd())
# /Users

C:\Users\sh921\Desktop\gamefinal\rsn_raw

In [71]:
df = []
for file in file_list:
    frame = pd.read_csv(file)
    df.append(frame)
    
master = pd.concat(df, ignore_index=True)

In [72]:
master.head()

,Unnamed: 0,gamename,구분,블로그,카페,커뮤니티,언론,페이스북,정부_공공,인스타그램,...,언론.2,페이스북.2,정부_공공.2,인스타그램.2,카카오스토리.2,기업_단체.2,지식인.2,트위터.2,유투브.2,gameCode
0,0,리그오브레전드,20200101,52,9,2,22,0,0.0,21,...,5,11,0.0,99,0,4,2,250,41,18517_20210924_g_1_1_lol.xlsx
1,1,리그오브레전드,20200102,37,21,5,42,0,0.0,13,...,19,6,0.0,106,0,4,3,288,38,18517_20210924_g_1_1_lol.xlsx
2,2,리그오브레전드,20200103,59,9,4,67,0,0.0,14,...,12,6,0.0,105,0,0,9,281,33,18517_20210924_g_1_1_lol.xlsx
3,3,리그오브레전드,20200104,110,18,5,48,0,0.0,25,...,10,4,0.0,85,1,1,3,298,28,18517_20210924_g_1_1_lol.xlsx
4,4,리그오브레전드,20200105,88,18,4,44,0,0.0,14,...,1,2,0.0,90,0,0,6,236,39,18517_20210924_g_1_1_lol.xlsx

In [73]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149671 entries, 0 to 149670
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  149671 non-null  int64
 1   gamename    74298 non-null   object
 2   구분          149671 non-null  int64
 3   블로그         149671 non-null  int64
 4   카페          149671 non-null  int64
 5   커뮤니티        149671 non-null  int64
 6   언론          149671 non-null  int64
 7   페이스북        149671 non-null  int64
 8   정부_공공       74298 non-null   float64
 9   인스타그램       149671 non-null  int64
 10  카카오스토리      149671 non-null  int64
 11  기업_단체       149671 non-null  int64
 12  지식인         149671 non-null  int64
 13  트위터         149671 non-null  int64
 14  유투브         149671 non-null  int64
 15  구분.1        149671 non-null  int64
 16  블로그.1       149671 non-null  int64
 17  카페.1        149671 non-null  int64
 18  커뮤니티.1      149671 non-null  int64
 19  언론.1        149671 non-null  int64
 20  페이스북.1      149671 non-null  int64
 21  정부_공공.1     74298 non-null   float64
 22  인스타그램.1     149671 non-null  int64
 23  카카오스토리.1    149671 non-null  int64
 24  기업_단체.1     149671 non-null  int64
 25  지식인.1       149671 non-null  int64
 26  트위터.1       149671 non-null  int64
 27  유투브.1       149671 non-null  int64
 28  구분.2        149671 non-null  int64
 29  블로그.2       149671 non-null  int64
 30  카페.2        149671 non-null  int64
 31  커뮤니티.2      149671 non-null  int64
 32  언론.2        149671 non-null  int64
 33  페이스북.2      149671 non-null  int64
 34  정부_공공.2     74298 non-null   float64
 35  인스타그램.2     149671 non-null  int64
 36  카카오스토리.2    149671 non-null  int64
 37  기업_단체.2     149671 non-null  int64
 38  지식인.2       149671 non-null  int64
 39  트위터.2       149671 non-null  int64
 40  유투브.2       149671 non-null  int64
 41  gameCode    149671 non-null  object
dtypes: float64(3), int64(37), object(2)
memory usage: 48.0+ MB

In [74]:
master.to_csv("RSN_matser.csv")

# 찐찐 마지막 merge

In [119]:
df = pd.read_csv("master_did_210924.csv")
df.head()

,gameCode,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,updown_a,updown_b,updown_c,med_high_a,med_high_b,med_high_c,weekday,weekend,Regdate,old_gameTypeName
0,545,리그 오브 레전드,1,0,32.61,89.72,-0.37,2556620797,5886,434422,...,0.896191,0.68909,0.617556,1,1,1,3,0,2583,RTS
1,545,리그 오브 레전드,1,0,32.64,89.43,0.04,2789391932,5751,485028,...,0.896191,0.68909,0.617556,1,1,1,4,0,2584,RTS
2,545,리그 오브 레전드,1,0,32.61,89.25,-0.02,3569515214,6057,589348,...,0.896191,0.68909,0.617556,1,1,1,5,1,2585,RTS
3,545,리그 오브 레전드,1,0,32.67,89.69,0.07,3579861781,6175,579773,...,0.896191,0.68909,0.617556,1,1,1,6,1,2586,RTS
4,545,리그 오브 레전드,1,0,32.89,90.04,0.22,2617928106,6011,435538,...,0.896191,0.68909,0.617556,1,1,1,0,0,2587,RTS

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138593 entries, 0 to 138592
Data columns (total 29 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gameCode          138593 non-null  int64
 1   gameName          138593 non-null  object
 2   gameRank          138593 non-null  int64
 3   gameRankUpDown    138593 non-null  int64
 4   gameShares        138593 non-null  float64
 5   gameTypeShares    138593 non-null  float64
 6   sharesUpDown      138593 non-null  float64
 7   timeCountTotal    138593 non-null  int64
 8   avgUsedTime       138593 non-null  int64
 9   userCountTotal    138593 non-null  int64
 10  useStoreCount     138593 non-null  int64
 11  gameRegDate       138593 non-null  object
 12  publisher         138593 non-null  object
 13  payType           138593 non-null  int64
 14  date              138593 non-null  int64
 15  dateCount         138593 non-null  int64
 16  2019_avg          134640 non-null  float64
 17  2020_avg          138593 non-null  float64
 18  2021_avg          138522 non-null  float64
 19  updown_a          134640 non-null  float64
 20  updown_b          138593 non-null  float64
 21  updown_c          134640 non-null  float64
 22  med_high_a        138593 non-null  int64
 23  med_high_b        138593 non-null  int64
 24  med_high_c        138593 non-null  int64
 25  weekday           138593 non-null  int64
 26  weekend           138593 non-null  int64
 27  Regdate           138593 non-null  int64
 28  old_gameTypeName  138593 non-null  object
dtypes: float64(9), int64(16), object(4)
memory usage: 30.7+ MB

# search merge

In [121]:
search = pd.read_csv("search.csv")
search.head()

    gameName      date   search
0  리그 오브 레전드  20190117  7.53079
1  리그 오브 레전드  20190118  7.87752
2  리그 오브 레전드  20190119   8.3659
3  리그 오브 레전드  20190120  8.24381
4  리그 오브 레전드  20190121  7.04697

In [122]:
search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159495 entries, 0 to 159494
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gameName  159495 non-null  object
 1   date      159495 non-null  int64
 2   search    159495 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.7+ MB

In [123]:
df2 = pd.merge(df, search, how='left',on=('gameName','date'))
df2.head()

,gameCode,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,updown_b,updown_c,med_high_a,med_high_b,med_high_c,weekday,weekend,Regdate,old_gameTypeName,search
0,545,리그 오브 레전드,1,0,32.61,89.72,-0.37,2556620797,5886,434422,...,0.68909,0.617556,1,1,1,3,0,2583,RTS,7.53079
1,545,리그 오브 레전드,1,0,32.64,89.43,0.04,2789391932,5751,485028,...,0.68909,0.617556,1,1,1,4,0,2584,RTS,7.87752
2,545,리그 오브 레전드,1,0,32.61,89.25,-0.02,3569515214,6057,589348,...,0.68909,0.617556,1,1,1,5,1,2585,RTS,8.3659
3,545,리그 오브 레전드,1,0,32.67,89.69,0.07,3579861781,6175,579773,...,0.68909,0.617556,1,1,1,6,1,2586,RTS,8.24381
4,545,리그 오브 레전드,1,0,32.89,90.04,0.22,2617928106,6011,435538,...,0.68909,0.617556,1,1,1,0,0,2587,RTS,7.04697

In [124]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gameCode          138593 non-null  int64
 1   gameName          138593 non-null  object
 2   gameRank          138593 non-null  int64
 3   gameRankUpDown    138593 non-null  int64
 4   gameShares        138593 non-null  float64
 5   gameTypeShares    138593 non-null  float64
 6   sharesUpDown      138593 non-null  float64
 7   timeCountTotal    138593 non-null  int64
 8   avgUsedTime       138593 non-null  int64
 9   userCountTotal    138593 non-null  int64
 10  useStoreCount     138593 non-null  int64
 11  gameRegDate       138593 non-null  object
 12  publisher         138593 non-null  object
 13  payType           138593 non-null  int64
 14  date              138593 non-null  int64
 15  dateCount         138593 non-null  int64
 16  2019_avg          134640 non-null  float64
 17  2020_avg          138593 non-null  float64
 18  2021_avg          138522 non-null  float64
 19  updown_a          134640 non-null  float64
 20  updown_b          138593 non-null  float64
 21  updown_c          134640 non-null  float64
 22  med_high_a        138593 non-null  int64
 23  med_high_b        138593 non-null  int64
 24  med_high_c        138593 non-null  int64
 25  weekday           138593 non-null  int64
 26  weekend           138593 non-null  int64
 27  Regdate           138593 non-null  int64
 28  old_gameTypeName  138593 non-null  object
 29  search            138593 non-null  object
dtypes: float64(9), int64(16), object(5)
memory usage: 32.8+ MB

# pub merge, country merge

In [138]:
pub = pd.read_csv("publisherCode_country.csv")
pub.head()

       publisher  publisherCode  country
0             스팀              1        0
1       일렉트로닉 아츠              2        0
2      Origin/스팀              3        0
3          ㈜웨이투빗              4        1
4  스팀/Epic Games              5        0

In [139]:
pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   publisher      39 non-null     object
 1   publisherCode  39 non-null     int64
 2   country        39 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.0+ KB

In [147]:
df3 = pd.merge(df2, pub, how='left', on='publisher')
df3.head()

,gameCode,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,med_high_a,med_high_b,med_high_c,weekday,weekend,Regdate,old_gameTypeName,search,publisherCode,country
0,545,리그 오브 레전드,1,0,32.61,89.72,-0.37,2556620797,5886,434422,...,1,1,1,3,0,2583,RTS,7.53079,30,0
1,545,리그 오브 레전드,1,0,32.64,89.43,0.04,2789391932,5751,485028,...,1,1,1,4,0,2584,RTS,7.87752,30,0
2,545,리그 오브 레전드,1,0,32.61,89.25,-0.02,3569515214,6057,589348,...,1,1,1,5,1,2585,RTS,8.3659,30,0
3,545,리그 오브 레전드,1,0,32.67,89.69,0.07,3579861781,6175,579773,...,1,1,1,6,1,2586,RTS,8.24381,30,0
4,545,리그 오브 레전드,1,0,32.89,90.04,0.22,2617928106,6011,435538,...,1,1,1,0,0,2587,RTS,7.04697,30,0

In [148]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 32 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gameCode          138593 non-null  int64
 1   gameName          138593 non-null  object
 2   gameRank          138593 non-null  int64
 3   gameRankUpDown    138593 non-null  int64
 4   gameShares        138593 non-null  float64
 5   gameTypeShares    138593 non-null  float64
 6   sharesUpDown      138593 non-null  float64
 7   timeCountTotal    138593 non-null  int64
 8   avgUsedTime       138593 non-null  int64
 9   userCountTotal    138593 non-null  int64
 10  useStoreCount     138593 non-null  int64
 11  gameRegDate       138593 non-null  object
 12  publisher         138593 non-null  object
 13  payType           138593 non-null  int64
 14  date              138593 non-null  int64
 15  dateCount         138593 non-null  int64
 16  2019_avg          134640 non-null  float64
 17  2020_avg          138593 non-null  float64
 18  2021_avg          138522 non-null  float64
 19  updown_a          134640 non-null  float64
 20  updown_b          138593 non-null  float64
 21  updown_c          134640 non-null  float64
 22  med_high_a        138593 non-null  int64
 23  med_high_b        138593 non-null  int64
 24  med_high_c        138593 non-null  int64
 25  weekday           138593 non-null  int64
 26  weekend           138593 non-null  int64
 27  Regdate           138593 non-null  int64
 28  old_gameTypeName  138593 non-null  object
 29  search            138593 non-null  object
 30  publisherCode     138593 non-null  int64
 31  country           138593 non-null  int64
dtypes: float64(9), int64(18), object(5)
memory usage: 34.9+ MB

# pub dummy

In [150]:
df3['pub'] = df3['publisherCode']

In [151]:
df3 = pd.get_dummies(df3,columns =['pub'])

In [152]:
df3.head()

,gameCode,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,pub_30,pub_31,pub_32,pub_33,pub_34,pub_35,pub_36,pub_37,pub_38,pub_39
0,545,리그 오브 레전드,1,0,32.61,89.72,-0.37,2556620797,5886,434422,...,1,0,0,0,0,0,0,0,0,0
1,545,리그 오브 레전드,1,0,32.64,89.43,0.04,2789391932,5751,485028,...,1,0,0,0,0,0,0,0,0,0
2,545,리그 오브 레전드,1,0,32.61,89.25,-0.02,3569515214,6057,589348,...,1,0,0,0,0,0,0,0,0,0
3,545,리그 오브 레전드,1,0,32.67,89.69,0.07,3579861781,6175,579773,...,1,0,0,0,0,0,0,0,0,0
4,545,리그 오브 레전드,1,0,32.89,90.04,0.22,2617928106,6011,435538,...,1,0,0,0,0,0,0,0,0,0

In [153]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 71 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gameCode          138593 non-null  int64
 1   gameName          138593 non-null  object
 2   gameRank          138593 non-null  int64
 3   gameRankUpDown    138593 non-null  int64
 4   gameShares        138593 non-null  float64
 5   gameTypeShares    138593 non-null  float64
 6   sharesUpDown      138593 non-null  float64
 7   timeCountTotal    138593 non-null  int64
 8   avgUsedTime       138593 non-null  int64
 9   userCountTotal    138593 non-null  int64
 10  useStoreCount     138593 non-null  int64
 11  gameRegDate       138593 non-null  object
 12  publisher         138593 non-null  object
 13  payType           138593 non-null  int64
 14  date              138593 non-null  int64
 15  dateCount         138593 non-null  int64
 16  2019_avg          134640 non-null  float64
 17  2020_avg          138593 non-null  float64
 18  2021_avg          138522 non-null  float64
 19  updown_a          134640 non-null  float64
 20  updown_b          138593 non-null  float64
 21  updown_c          134640 non-null  float64
 22  med_high_a        138593 non-null  int64
 23  med_high_b        138593 non-null  int64
 24  med_high_c        138593 non-null  int64
 25  weekday           138593 non-null  int64
 26  weekend           138593 non-null  int64
 27  Regdate           138593 non-null  int64
 28  old_gameTypeName  138593 non-null  object
 29  search            138593 non-null  object
 30  publisherCode     138593 non-null  int64
 31  country           138593 non-null  int64
 32  pub_1             138593 non-null  uint8
 33  pub_2             138593 non-null  uint8
 34  pub_3             138593 non-null  uint8
 35  pub_4             138593 non-null  uint8
 36  pub_5             138593 non-null  uint8
 37  pub_6             138593 non-null  uint8
 38  pub_7             138593 non-null  uint8
 39  pub_8             138593 non-null  uint8
 40  pub_9             138593 non-null  uint8
 41  pub_10            138593 non-null  uint8
 42  pub_11            138593 non-null  uint8
 43  pub_12            138593 non-null  uint8
 44  pub_13            138593 non-null  uint8
 45  pub_14            138593 non-null  uint8
 46  pub_15            138593 non-null  uint8
 47  pub_16            138593 non-null  uint8
 48  pub_17            138593 non-null  uint8
 49  pub_18            138593 non-null  uint8
 50  pub_19            138593 non-null  uint8
 51  pub_20            138593 non-null  uint8
 52  pub_21            138593 non-null  uint8
 53  pub_22            138593 non-null  uint8
 54  pub_23            138593 non-null  uint8
 55  pub_24            138593 non-null  uint8
 56  pub_25            138593 non-null  uint8
 57  pub_26            138593 non-null  uint8
 58  pub_27            138593 non-null  uint8
 59  pub_28            138593 non-null  uint8
 60  pub_29            138593 non-null  uint8
 61  pub_30            138593 non-null  uint8
 62  pub_31            138593 non-null  uint8
 63  pub_32            138593 non-null  uint8
 64  pub_33            138593 non-null  uint8
 65  pub_34            138593 non-null  uint8
 66  pub_35            138593 non-null  uint8
 67  pub_36            138593 non-null  uint8
 68  pub_37            138593 non-null  uint8
 69  pub_38            138593 non-null  uint8
 70  pub_39            138593 non-null  uint8
dtypes: float64(9), int64(18), object(5), uint8(39)
memory usage: 40.0+ MB

# game charater na 확인용 파일 만들기

In [155]:
gamelist = pd.read_csv("gametype.csv")
gamelist.head()

    gameName old_gameType  new_gameType
0  리그 오브 레전드          RTS           NaN
1     배틀그라운드          FPS           NaN
2     피파온라인4          스포츠           NaN
3       오버워치          FPS           NaN
4      로스트아크          RPG           NaN

In [159]:
gamelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gameName      217 non-null    object
 1   old_gameType  217 non-null    object
 2   new_gameType  0 non-null      float64
dtypes: float64(1), object(2)
memory usage: 5.2+ KB

In [157]:
cha = pd.read_csv("gamecha.csv")
cha.head()

,gameName,ram_min,ram_max,storage_min,storage_max,singleplay,teamplay,PvE,PvP,communication,progamer,CPU_min,GraphicCard_min,CPU_max,GraphicCard_max
0,리그 오브 레전드,2.0,4.0,16,16.0,0.0,1.0,0.0,1.0,1.0,1.0,i3-530,GeForce 9600GT,i5-3300,GeForce 560
1,배틀그라운드,8.0,16.0,33,33.0,1.0,1.0,0.0,1.0,1.0,1.0,i5-4430,GeForce GTX 960,i5-6600K,GeForce GTX 1060
2,피파온라인4,4.0,8.0,18,16.0,1.0,1.0,0.0,1.0,1.0,1.0,i3-2100,Geforce GT 730,i5-2550K,GeForce GTX 460
3,로스트아크,8.0,16.0,50,50.0,1.0,1.0,1.0,1.0,1.0,0.0,i3,GeForce GTX 460,i5,GeForce GTX 1050
4,오버워치,4.0,6.0,30,30.0,1.0,1.0,1.0,1.0,1.0,1.0,i3,GeForce GTX 460,i5,GeForce GTX 660

In [158]:
check = pd.merge(gamelist, cha, how='left', on='gameName')
check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 216
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameName         217 non-null    object
 1   old_gameType     217 non-null    object
 2   new_gameType     0 non-null      float64
 3   ram_min          163 non-null    float64
 4   ram_max          210 non-null    float64
 5   storage_min      107 non-null    object
 6   storage_max      107 non-null    float64
 7   singleplay       204 non-null    float64
 8   teamplay         205 non-null    float64
 9   PvE              204 non-null    float64
 10  PvP              204 non-null    float64
 11  communication    204 non-null    float64
 12  progamer         217 non-null    float64
 13  CPU_min          79 non-null     object
 14  GraphicCard_min  72 non-null     object
 15  CPU_max          73 non-null     object
 16  GraphicCard_max  70 non-null     object
dtypes: float64(10), object(7)
memory usage: 30.5+ KB

In [161]:
cash = pd.read_csv('cash.csv')
cash.head()

    gameName  cash
0  리그 오브 레전드     0
1     배틀그라운드     0
2     피파온라인4     1
3       오버워치     0
4      로스트아크     1

In [162]:
check = pd.merge(check, cash, how='left', on='gameName')
check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 216
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameName         217 non-null    object
 1   old_gameType     217 non-null    object
 2   new_gameType     0 non-null      float64
 3   ram_min          163 non-null    float64
 4   ram_max          210 non-null    float64
 5   storage_min      107 non-null    object
 6   storage_max      107 non-null    float64
 7   singleplay       204 non-null    float64
 8   teamplay         205 non-null    float64
 9   PvE              204 non-null    float64
 10  PvP              204 non-null    float64
 11  communication    204 non-null    float64
 12  progamer         217 non-null    float64
 13  CPU_min          79 non-null     object
 14  GraphicCard_min  72 non-null     object
 15  CPU_max          73 non-null     object
 16  GraphicCard_max  70 non-null     object
 17  cash             217 non-null    int64
dtypes: float64(10), int64(1), object(7)
memory usage: 32.2+ KB

In [163]:
check.to_csv("needtocheck.csv")

# RSN DATE MERGE

In [175]:
rsn = pd.read_csv("rsn_master2.csv")

In [176]:
rsn.head()

,date,gamename,buzz_total,buzz_pn,buzz_pos,buzz_neg,com_pos,news_pos,tw_pos,com_neg,...,qna_neg,youtube_neg,blog_neu,cafe_neu,facebook_neu,insta_neu,kakao_neu,pr_neu,qna_neu,youtube_neu
0,20200101,리그 오브 레전드,656,50,118,68,2,22,9,8,...,0,2,20,19,11,99,0,4,2,41
1,20200102,리그 오브 레전드,741,56,136,80,5,42,14,7,...,2,5,16,16,6,106,0,4,3,38
2,20200103,리그 오브 레전드,748,96,167,71,4,67,9,11,...,0,3,28,12,6,105,0,0,9,33
3,20200104,리그 오브 레전드,794,160,223,63,5,48,14,7,...,3,8,42,22,4,85,1,1,3,28
4,20200105,리그 오브 레전드,701,85,176,91,4,44,5,10,...,1,2,31,14,2,90,0,0,6,39

In [177]:
rsn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150020 entries, 0 to 150019
Data columns (total 47 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             150020 non-null  int64
 1   gamename         150020 non-null  object
 2   buzz_total       150020 non-null  int64
 3   buzz_pn          150020 non-null  int64
 4   buzz_pos         150020 non-null  int64
 5   buzz_neg         150020 non-null  int64
 6   com_pos          150020 non-null  int64
 7   news_pos         150020 non-null  int64
 8   tw_pos           150020 non-null  int64
 9   com_neg          150020 non-null  int64
 10  news_neg         150020 non-null  int64
 11  tw_neg           150020 non-null  int64
 12  com_neu          150020 non-null  int64
 13  news_neu         150020 non-null  int64
 14  tw_neu           150020 non-null  int64
 15  com_total        150020 non-null  int64
 16  com_pn           150020 non-null  int64
 17  news_total       150020 non-null  int64
 18  news_pn          150020 non-null  int64
 19  tw_total         150020 non-null  int64
 20  tw_pn            150020 non-null  int64
 21  comtwnews_total  150020 non-null  int64
 22  comtwnews_pn     150020 non-null  int64
 23  blog_pos         150020 non-null  int64
 24  cafe_pos         150020 non-null  int64
 25  facebook_pos     150020 non-null  int64
 26  insta_pos        150020 non-null  int64
 27  kakao_pos        150020 non-null  int64
 28  pr_pos           150020 non-null  int64
 29  qna_pos          150020 non-null  int64
 30  youtube_pos      150020 non-null  int64
 31  blog_neg         150020 non-null  int64
 32  cafe_neg         150020 non-null  int64
 33  facebook_neg     150020 non-null  int64
 34  insta_neg        150020 non-null  int64
 35  kakao_neg        150020 non-null  int64
 36  pr_neg           150020 non-null  int64
 37  qna_neg          150020 non-null  int64
 38  youtube_neg      150020 non-null  int64
 39  blog_neu         150020 non-null  int64
 40  cafe_neu         150020 non-null  int64
 41  facebook_neu     150020 non-null  int64
 42  insta_neu        150020 non-null  int64
 43  kakao_neu        150020 non-null  int64
 44  pr_neu           150020 non-null  int64
 45  qna_neu          150020 non-null  int64
 46  youtube_neu      150020 non-null  int64
dtypes: int64(46), object(1)
memory usage: 53.8+ MB

In [178]:
rsn = rsn.rename(columns={'gamename':'gameName'})
rsn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150020 entries, 0 to 150019
Data columns (total 47 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             150020 non-null  int64
 1   gameName         150020 non-null  object
 2   buzz_total       150020 non-null  int64
 3   buzz_pn          150020 non-null  int64
 4   buzz_pos         150020 non-null  int64
 5   buzz_neg         150020 non-null  int64
 6   com_pos          150020 non-null  int64
 7   news_pos         150020 non-null  int64
 8   tw_pos           150020 non-null  int64
 9   com_neg          150020 non-null  int64
 10  news_neg         150020 non-null  int64
 11  tw_neg           150020 non-null  int64
 12  com_neu          150020 non-null  int64
 13  news_neu         150020 non-null  int64
 14  tw_neu           150020 non-null  int64
 15  com_total        150020 non-null  int64
 16  com_pn           150020 non-null  int64
 17  news_total       150020 non-null  int64
 18  news_pn          150020 non-null  int64
 19  tw_total         150020 non-null  int64
 20  tw_pn            150020 non-null  int64
 21  comtwnews_total  150020 non-null  int64
 22  comtwnews_pn     150020 non-null  int64
 23  blog_pos         150020 non-null  int64
 24  cafe_pos         150020 non-null  int64
 25  facebook_pos     150020 non-null  int64
 26  insta_pos        150020 non-null  int64
 27  kakao_pos        150020 non-null  int64
 28  pr_pos           150020 non-null  int64
 29  qna_pos          150020 non-null  int64
 30  youtube_pos      150020 non-null  int64
 31  blog_neg         150020 non-null  int64
 32  cafe_neg         150020 non-null  int64
 33  facebook_neg     150020 non-null  int64
 34  insta_neg        150020 non-null  int64
 35  kakao_neg        150020 non-null  int64
 36  pr_neg           150020 non-null  int64
 37  qna_neg          150020 non-null  int64
 38  youtube_neg      150020 non-null  int64
 39  blog_neu         150020 non-null  int64
 40  cafe_neu         150020 non-null  int64
 41  facebook_neu     150020 non-null  int64
 42  insta_neu        150020 non-null  int64
 43  kakao_neu        150020 non-null  int64
 44  pr_neu           150020 non-null  int64
 45  qna_neu          150020 non-null  int64
 46  youtube_neu      150020 non-null  int64
dtypes: int64(46), object(1)
memory usage: 53.8+ MB

In [179]:
df4 = pd.merge(df3, rsn, how='left', on=('gameName','date'))
df4.info(verbose=True, null_counts=True) #현재 na는 언급량이 없는 친구들

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 116 columns):
 #    Column            Non-Null Count   Dtype
---   ------            --------------   -----
 0    gameCode          138593 non-null  int64
 1    gameName          138593 non-null  object
 2    gameRank          138593 non-null  int64
 3    gameRankUpDown    138593 non-null  int64
 4    gameShares        138593 non-null  float64
 5    gameTypeShares    138593 non-null  float64
 6    sharesUpDown      138593 non-null  float64
 7    timeCountTotal    138593 non-null  int64
 8    avgUsedTime       138593 non-null  int64
 9    userCountTotal    138593 non-null  int64
 10   useStoreCount     138593 non-null  int64
 11   gameRegDate       138593 non-null  object
 12   publisher         138593 non-null  object
 13   payType           138593 non-null  int64
 14   date              138593 non-null  int64
 15   dateCount         138593 non-null  int64
 16   2019_avg          134640 non-null  float64
 17   2020_avg          138593 non-null  float64
 18   2021_avg          138522 non-null  float64
 19   updown_a          134640 non-null  float64
 20   updown_b          138593 non-null  float64
 21   updown_c          134640 non-null  float64
 22   med_high_a        138593 non-null  int64
 23   med_high_b        138593 non-null  int64
 24   med_high_c        138593 non-null  int64
 25   weekday           138593 non-null  int64
 26   weekend           138593 non-null  int64
 27   Regdate           138593 non-null  int64
 28   old_gameTypeName  138593 non-null  object
 29   search            138593 non-null  object
 30   publisherCode     138593 non-null  int64
 31   country           138593 non-null  int64
 32   pub_1             138593 non-null  uint8
 33   pub_2             138593 non-null  uint8
 34   pub_3             138593 non-null  uint8
 35   pub_4             138593 non-null  uint8
 36   pub_5             138593 non-null  uint8
 37   pub_6             138593 non-null  uint8
 38   pub_7             138593 non-null  uint8
 39   pub_8             138593 non-null  uint8
 40   pub_9             138593 non-null  uint8
 41   pub_10            138593 non-null  uint8
 42   pub_11            138593 non-null  uint8
 43   pub_12            138593 non-null  uint8
 44   pub_13            138593 non-null  uint8
 45   pub_14            138593 non-null  uint8
 46   pub_15            138593 non-null  uint8
 47   pub_16            138593 non-null  uint8
 48   pub_17            138593 non-null  uint8
 49   pub_18            138593 non-null  uint8
 50   pub_19            138593 non-null  uint8
 51   pub_20            138593 non-null  uint8
 52   pub_21            138593 non-null  uint8
 53   pub_22            138593 non-null  uint8
 54   pub_23            138593 non-null  uint8
 55   pub_24            138593 non-null  uint8
 56   pub_25            138593 non-null  uint8
 57   pub_26            138593 non-null  uint8
 58   pub_27            138593 non-null  uint8
 59   pub_28            138593 non-null  uint8
 60   pub_29            138593 non-null  uint8
 61   pub_30            138593 non-null  uint8
 62   pub_31            138593 non-null  uint8
 63   pub_32            138593 non-null  uint8
 64   pub_33            138593 non-null  uint8
 65   pub_34            138593 non-null  uint8
 66   pub_35            138593 non-null  uint8
 67   pub_36            138593 non-null  uint8
 68   pub_37            138593 non-null  uint8
 69   pub_38            138593 non-null  uint8
 70   pub_39            138593 non-null  uint8
 71   buzz_total        130829 non-null  float64
 72   buzz_pn           130829 non-null  float64
 73   buzz_pos          130829 non-null  float64
 74   buzz_neg          130829 non-null  float64
 75   com_pos           130829 non-null  float64
 76   news_pos          130829 non-null  float64
 77   tw_pos            130829 non-null  float64
 78   com_neg           130829 non-null  float64
 79   news_neg          130829 non-null  float64
 80   tw_neg            130829 non-null  float64
 81   com_neu           130829 non-null  float64
 82   news_neu          130829 non-null  float64
 83   tw_neu            130829 non-null  float64
 84   com_total         130829 non-null  float64
 85   com_pn            130829 non-null  float64
 86   news_total        130829 non-null  float64
 87   news_pn           130829 non-null  float64
 88   tw_total          130829 non-null  float64
 89   tw_pn             130829 non-null  float64
 90   comtwnews_total   130829 non-null  float64
 91   comtwnews_pn      130829 non-null  float64
 92   blog_pos          130829 non-null  float64
 93   cafe_pos          130829 non-null  float64
 94   facebook_pos      130829 non-null  float64
 95   insta_pos         130829 non-null  float64
 96   kakao_pos         130829 non-null  float64
 97   pr_pos            130829 non-null  float64
 98   qna_pos           130829 non-null  float64
 99   youtube_pos       130829 non-null  float64
 100  blog_neg          130829 non-null  float64
 101  cafe_neg          130829 non-null  float64
 102  facebook_neg      130829 non-null  float64
 103  insta_neg         130829 non-null  float64
 104  kakao_neg         130829 non-null  float64
 105  pr_neg            130829 non-null  float64
 106  qna_neg           130829 non-null  float64
 107  youtube_neg       130829 non-null  float64
 108  blog_neu          130829 non-null  float64
 109  cafe_neu          130829 non-null  float64
 110  facebook_neu      130829 non-null  float64
 111  insta_neu         130829 non-null  float64
 112  kakao_neu         130829 non-null  float64
 113  pr_neu            130829 non-null  float64
 114  qna_neu           130829 non-null  float64
 115  youtube_neu       130829 non-null  float64
dtypes: float64(54), int64(18), object(5), uint8(39)
memory usage: 87.6+ MB

<ipython-input-179-e8ae858d4f2e>:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  df4.info(verbose=True, null_counts=True) #현재 na는 언급량이 없는 친구들

In [180]:
#rsn 결측치 확인
error =  df4[df4['tw_pn'].isnull()]

In [181]:
error2 = error.drop_duplicates(['gameName'], keep='first') #중복제거
error2

,gameCode,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,qna_neg,youtube_neg,blog_neu,cafe_neu,facebook_neu,insta_neu,kakao_neu,pr_neu,qna_neu,youtube_neu
46285,26,한게임 7포커,57,9,0.07,4.32,0.01,3544542,1274,2783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61720,651,프리스타일풋볼Z,125,0,0.02,0.13,0.00,641138,3429,187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63925,746,피망 베가스,84,-1,0.03,1.88,-0.01,1540415,965,1597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70560,294,한게임 파티훌라,106,8,0.02,0.95,0.00,1144593,1171,978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72765,471,넷마블 틀린그림찾기,110,7,0.02,0.85,0.00,1026659,2267,453,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73500,617,넷마블 바둑nTV,111,1,0.02,0.85,0.00,1022638,4757,215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88180,559,엠게임 컬투맞고,145,-6,0.01,0.53,0.00,434863,3815,114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91855,11,십이지천2,162,17,0.01,0.04,0.00,286888,5626,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94795,293,한게임 더블맞고,139,2,0.01,0.60,0.00,485104,2666,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95530,105,엠게임 장기,174,-14,0.01,0.27,0.00,220342,3390,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95550,467,넷마블 당구/포켓볼,150,12,0.01,0.46,0.00,550265,2780,198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98839,308,한게임 맞포커,155,5,0.01,0.41,0.00,649572,235,2770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100695,238,엠게임 하이로우,160,10,0.01,0.38,0.00,454602,2915,156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102880,73,엠게임 맞고,156,-21,0.01,0.44,0.00,360658,3964,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105820,771,Total War.WARHAMMER II,157,-6,0.01,0.15,0.00,348432,7575,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106924,482,피망 사천성플러스,175,-3,0.01,0.29,0.00,459730,2598,177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109515,470,넷마블 파워쿵쿵따,186,0,0.01,0.19,0.00,223428,1442,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112455,485,넷마블 베가세+,194,19,0.01,0.17,0.00,201244,1706,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114660,244,엠게임 훌라,206,-12,0.01,0.14,0.00,166588,3144,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118315,328,넷마블 오목,212,4,0.01,0.14,0.00,113673,855,133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119070,329,넷마블 파워알까기,223,-9,0.01,0.10,0.00,117670,806,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119805,487,넷마블 캐릭챗,225,-10,0.01,0.10,0.00,110112,4405,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121624,481,피망 상하이플러스,248,9,0.01,0.06,0.00,93578,2530,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122010,418,엠게임 사천성,244,4,0.01,0.07,0.00,77254,2760,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133382,876,콜 오브 듀티: 모던 워페어,42,3,0.11,0.52,0.01,5703376,2849,2002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135902,917,Wolcen: Lords of Mayhem,251,-1,0.01,0.01,0.00,41264,10316,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136206,920,뮤 이그니션(파이어폭스),292,0,0.01,0.01,0.01,485,485,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136975,923,SCP: Secret Laboratory,190,-34,0.01,0.02,0.00,179577,3742,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
df4.columns

Index(['gameCode', 'gameName', 'gameRank', 'gameRankUpDown', 'gameShares',
       'gameTypeShares', 'sharesUpDown', 'timeCountTotal', 'avgUsedTime',
       'userCountTotal',
       ...
       'qna_neg', 'youtube_neg', 'blog_neu', 'cafe_neu', 'facebook_neu',
       'insta_neu', 'kakao_neu', 'pr_neu', 'qna_neu', 'youtube_neu'],
      dtype='object', length=116)

In [183]:
#NA 0으로 바꾸기
df4 = df4.fillna(0)

In [186]:
#WEEKDAY DUMMY
df4['wd'] =df4['weekday']

In [187]:
df4 = pd.get_dummies(df4,columns =['wd'])

In [188]:
df4.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 123 columns):
 #    Column            Non-Null Count   Dtype
---   ------            --------------   -----
 0    gameCode          138593 non-null  int64
 1    gameName          138593 non-null  object
 2    gameRank          138593 non-null  int64
 3    gameRankUpDown    138593 non-null  int64
 4    gameShares        138593 non-null  float64
 5    gameTypeShares    138593 non-null  float64
 6    sharesUpDown      138593 non-null  float64
 7    timeCountTotal    138593 non-null  int64
 8    avgUsedTime       138593 non-null  int64
 9    userCountTotal    138593 non-null  int64
 10   useStoreCount     138593 non-null  int64
 11   gameRegDate       138593 non-null  object
 12   publisher         138593 non-null  object
 13   payType           138593 non-null  int64
 14   date              138593 non-null  int64
 15   dateCount         138593 non-null  int64
 16   2019_avg          138593 non-null  float64
 17   2020_avg          138593 non-null  float64
 18   2021_avg          138593 non-null  float64
 19   updown_a          138593 non-null  float64
 20   updown_b          138593 non-null  float64
 21   updown_c          138593 non-null  float64
 22   med_high_a        138593 non-null  int64
 23   med_high_b        138593 non-null  int64
 24   med_high_c        138593 non-null  int64
 25   weekday           138593 non-null  int64
 26   weekend           138593 non-null  int64
 27   Regdate           138593 non-null  int64
 28   old_gameTypeName  138593 non-null  object
 29   search            138593 non-null  object
 30   publisherCode     138593 non-null  int64
 31   country           138593 non-null  int64
 32   pub_1             138593 non-null  uint8
 33   pub_2             138593 non-null  uint8
 34   pub_3             138593 non-null  uint8
 35   pub_4             138593 non-null  uint8
 36   pub_5             138593 non-null  uint8
 37   pub_6             138593 non-null  uint8
 38   pub_7             138593 non-null  uint8
 39   pub_8             138593 non-null  uint8
 40   pub_9             138593 non-null  uint8
 41   pub_10            138593 non-null  uint8
 42   pub_11            138593 non-null  uint8
 43   pub_12            138593 non-null  uint8
 44   pub_13            138593 non-null  uint8
 45   pub_14            138593 non-null  uint8
 46   pub_15            138593 non-null  uint8
 47   pub_16            138593 non-null  uint8
 48   pub_17            138593 non-null  uint8
 49   pub_18            138593 non-null  uint8
 50   pub_19            138593 non-null  uint8
 51   pub_20            138593 non-null  uint8
 52   pub_21            138593 non-null  uint8
 53   pub_22            138593 non-null  uint8
 54   pub_23            138593 non-null  uint8
 55   pub_24            138593 non-null  uint8
 56   pub_25            138593 non-null  uint8
 57   pub_26            138593 non-null  uint8
 58   pub_27            138593 non-null  uint8
 59   pub_28            138593 non-null  uint8
 60   pub_29            138593 non-null  uint8
 61   pub_30            138593 non-null  uint8
 62   pub_31            138593 non-null  uint8
 63   pub_32            138593 non-null  uint8
 64   pub_33            138593 non-null  uint8
 65   pub_34            138593 non-null  uint8
 66   pub_35            138593 non-null  uint8
 67   pub_36            138593 non-null  uint8
 68   pub_37            138593 non-null  uint8
 69   pub_38            138593 non-null  uint8
 70   pub_39            138593 non-null  uint8
 71   buzz_total        138593 non-null  float64
 72   buzz_pn           138593 non-null  float64
 73   buzz_pos          138593 non-null  float64
 74   buzz_neg          138593 non-null  float64
 75   com_pos           138593 non-null  float64
 76   news_pos          138593 non-null  float64
 77   tw_pos            138593 non-null  float64
 78   com_neg           138593 non-null  float64
 79   news_neg          138593 non-null  float64
 80   tw_neg            138593 non-null  float64
 81   com_neu           138593 non-null  float64
 82   news_neu          138593 non-null  float64
 83   tw_neu            138593 non-null  float64
 84   com_total         138593 non-null  float64
 85   com_pn            138593 non-null  float64
 86   news_total        138593 non-null  float64
 87   news_pn           138593 non-null  float64
 88   tw_total          138593 non-null  float64
 89   tw_pn             138593 non-null  float64
 90   comtwnews_total   138593 non-null  float64
 91   comtwnews_pn      138593 non-null  float64
 92   blog_pos          138593 non-null  float64
 93   cafe_pos          138593 non-null  float64
 94   facebook_pos      138593 non-null  float64
 95   insta_pos         138593 non-null  float64
 96   kakao_pos         138593 non-null  float64
 97   pr_pos            138593 non-null  float64
 98   qna_pos           138593 non-null  float64
 99   youtube_pos       138593 non-null  float64
 100  blog_neg          138593 non-null  float64
 101  cafe_neg          138593 non-null  float64
 102  facebook_neg      138593 non-null  float64
 103  insta_neg         138593 non-null  float64
 104  kakao_neg         138593 non-null  float64
 105  pr_neg            138593 non-null  float64
 106  qna_neg           138593 non-null  float64
 107  youtube_neg       138593 non-null  float64
 108  blog_neu          138593 non-null  float64
 109  cafe_neu          138593 non-null  float64
 110  facebook_neu      138593 non-null  float64
 111  insta_neu         138593 non-null  float64
 112  kakao_neu         138593 non-null  float64
 113  pr_neu            138593 non-null  float64
 114  qna_neu           138593 non-null  float64
 115  youtube_neu       138593 non-null  float64
 116  wd_0              138593 non-null  uint8
 117  wd_1              138593 non-null  uint8
 118  wd_2              138593 non-null  uint8
 119  wd_3              138593 non-null  uint8
 120  wd_4              138593 non-null  uint8
 121  wd_5              138593 non-null  uint8
 122  wd_6              138593 non-null  uint8
dtypes: float64(54), int64(18), object(5), uint8(46)
memory usage: 88.6+ MB

<ipython-input-188-f925f8f2ab73>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df4.info(verbose=True, null_counts=True)

In [189]:
df4.to_csv('master_ver1.csv')

In [190]:
#week month dummy merge
df5 = pd.read_csv("master_ver1.csv")
df5.head()

C:\Users\sh921\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,date,gameCode,gameName,yr2019,yr2020,yr2021,gameRank,gameRankUpDown,gameShares,gameTypeShares,...,ln_qna_neg,ln_youtube_neg,ln_blog_neu,ln_cafe_neu,ln_facebook_neu,ln_insta_neu,ln_kakao_neu,ln_pr_neu,ln_qna_neu,ln_youtube_neu
0,20190117,545,리그 오브 레전드,1,0,0,1,0,32.61,89.72,...,0.477121,0.477121,1.230449,1.146128,0.602060,2.309630,0.0,0.903090,0.000000,1.838849
1,20190118,545,리그 오브 레전드,1,0,0,1,0,32.64,89.43,...,0.301030,0.477121,1.255273,1.204120,0.000000,2.209515,0.0,1.414973,0.477121,1.913814
2,20190119,545,리그 오브 레전드,1,0,0,1,0,32.61,89.25,...,0.698970,0.602060,1.079181,1.462398,0.477121,2.269513,0.0,1.414973,0.301030,1.944483
3,20190120,545,리그 오브 레전드,1,0,0,1,0,32.67,89.69,...,0.698970,0.602060,1.301030,1.079181,0.000000,2.281033,0.0,1.414973,0.602060,1.886491
4,20190121,545,리그 오브 레전드,1,0,0,1,0,32.89,90.04,...,0.000000,0.602060,1.204120,1.230449,0.301030,2.294466,0.0,1.041393,0.602060,1.875061

In [191]:
date = pd.read_csv("date_dummy.csv")
date.head()

       date  month  year  week
0  20190117      1     1     1
1  20190118      1     1     1
2  20190119      1     1     1
3  20190120      1     1     1
4  20190121      1     1     2

In [192]:
df6 = pd.merge(df5, date, how='left',on='date')
df6.head()

,date,gameCode,gameName,yr2019,yr2020,yr2021,gameRank,gameRankUpDown,gameShares,gameTypeShares,...,ln_cafe_neu,ln_facebook_neu,ln_insta_neu,ln_kakao_neu,ln_pr_neu,ln_qna_neu,ln_youtube_neu,month,year,week
0,20190117,545,리그 오브 레전드,1,0,0,1,0,32.61,89.72,...,1.146128,0.602060,2.309630,0.0,0.903090,0.000000,1.838849,1,1,1
1,20190118,545,리그 오브 레전드,1,0,0,1,0,32.64,89.43,...,1.204120,0.000000,2.209515,0.0,1.414973,0.477121,1.913814,1,1,1
2,20190119,545,리그 오브 레전드,1,0,0,1,0,32.61,89.25,...,1.462398,0.477121,2.269513,0.0,1.414973,0.301030,1.944483,1,1,1
3,20190120,545,리그 오브 레전드,1,0,0,1,0,32.67,89.69,...,1.079181,0.000000,2.281033,0.0,1.414973,0.602060,1.886491,1,1,1
4,20190121,545,리그 오브 레전드,1,0,0,1,0,32.89,90.04,...,1.230449,0.301030,2.294466,0.0,1.041393,0.602060,1.875061,1,1,2

In [193]:
df6.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 173 columns):
 #    Column              Non-Null Count   Dtype
---   ------              --------------   -----
 0    date                138593 non-null  int64
 1    gameCode            138593 non-null  int64
 2    gameName            138593 non-null  object
 3    yr2019              138593 non-null  int64
 4    yr2020              138593 non-null  int64
 5    yr2021              138593 non-null  int64
 6    gameRank            138593 non-null  int64
 7    gameRankUpDown      138593 non-null  int64
 8    gameShares          138593 non-null  float64
 9    gameTypeShares      138593 non-null  float64
 10   sharesUpDown        138593 non-null  float64
 11   ln_timeCountTotal   138593 non-null  float64
 12   ln_avgUsedTime      138593 non-null  float64
 13   ln_userCountTotal   138593 non-null  float64
 14   ln_useStoreCount    138593 non-null  float64
 15   timeCountTotal      138593 non-null  int64
 16   avgUsedTime         138593 non-null  int64
 17   userCountTotal      138593 non-null  int64
 18   useStoreCount       138593 non-null  int64
 19   gameRegDate         138593 non-null  object
 20   publisher           138593 non-null  object
 21   payType             138593 non-null  int64
 22   dateCount           138593 non-null  int64
 23   2019_avg            138593 non-null  float64
 24   2020_avg            138593 non-null  float64
 25   2021_avg            138593 non-null  float64
 26   updown_a            138593 non-null  float64
 27   updown_b            138593 non-null  float64
 28   updown_c            138593 non-null  float64
 29   med_high_a          138593 non-null  int64
 30   med_high_b          138593 non-null  int64
 31   med_high_c          138593 non-null  int64
 32   weekday             138593 non-null  int64
 33   weekend             138593 non-null  int64
 34   Regdate             138593 non-null  int64
 35   old_gameTypeName    138593 non-null  object
 36   search              138593 non-null  object
 37   publisherCode       138593 non-null  int64
 38   country             138593 non-null  int64
 39   pub_1               138593 non-null  int64
 40   pub_2               138593 non-null  int64
 41   pub_3               138593 non-null  int64
 42   pub_4               138593 non-null  int64
 43   pub_5               138593 non-null  int64
 44   pub_6               138593 non-null  int64
 45   pub_7               138593 non-null  int64
 46   pub_8               138593 non-null  int64
 47   pub_9               138593 non-null  int64
 48   pub_10              138593 non-null  int64
 49   pub_11              138593 non-null  int64
 50   pub_12              138593 non-null  int64
 51   pub_13              138593 non-null  int64
 52   pub_14              138593 non-null  int64
 53   pub_15              138593 non-null  int64
 54   pub_16              138593 non-null  int64
 55   pub_17              138593 non-null  int64
 56   pub_18              138593 non-null  int64
 57   pub_19              138593 non-null  int64
 58   pub_20              138593 non-null  int64
 59   pub_21              138593 non-null  int64
 60   pub_22              138593 non-null  int64
 61   pub_23              138593 non-null  int64
 62   pub_24              138593 non-null  int64
 63   pub_25              138593 non-null  int64
 64   pub_26              138593 non-null  int64
 65   pub_27              138593 non-null  int64
 66   pub_28              138593 non-null  int64
 67   pub_29              138593 non-null  int64
 68   pub_30              138593 non-null  int64
 69   pub_31              138593 non-null  int64
 70   pub_32              138593 non-null  int64
 71   pub_33              138593 non-null  int64
 72   pub_34              138593 non-null  int64
 73   pub_35              138593 non-null  int64
 74   pub_36              138593 non-null  int64
 75   pub_37              138593 non-null  int64
 76   pub_38              138593 non-null  int64
 77   pub_39              138593 non-null  int64
 78   buzz_total          138593 non-null  int64
 79   buzz_pn             138593 non-null  int64
 80   buzz_pos            138593 non-null  int64
 81   buzz_neg            138593 non-null  int64
 82   com_pos             138593 non-null  int64
 83   news_pos            138593 non-null  int64
 84   tw_pos              138593 non-null  int64
 85   com_neg             138593 non-null  int64
 86   news_neg            138593 non-null  int64
 87   tw_neg              138593 non-null  int64
 88   com_neu             138593 non-null  int64
 89   news_neu            138593 non-null  int64
 90   tw_neu              138593 non-null  int64
 91   com_total           138593 non-null  int64
 92   com_pn              138593 non-null  int64
 93   news_total          138593 non-null  int64
 94   news_pn             138593 non-null  int64
 95   tw_total            138593 non-null  int64
 96   tw_pn               138593 non-null  int64
 97   comtwnews_total     138593 non-null  int64
 98   comtwnews_pn        138593 non-null  int64
 99   blog_pos            138593 non-null  int64
 100  cafe_pos            138593 non-null  int64
 101  facebook_pos        138593 non-null  int64
 102  insta_pos           138593 non-null  int64
 103  kakao_pos           138593 non-null  int64
 104  pr_pos              138593 non-null  int64
 105  qna_pos             138593 non-null  int64
 106  youtube_pos         138593 non-null  int64
 107  blog_neg            138593 non-null  int64
 108  cafe_neg            138593 non-null  int64
 109  facebook_neg        138593 non-null  int64
 110  insta_neg           138593 non-null  int64
 111  kakao_neg           138593 non-null  int64
 112  pr_neg              138593 non-null  int64
 113  qna_neg             138593 non-null  int64
 114  youtube_neg         138593 non-null  int64
 115  blog_neu            138593 non-null  int64
 116  cafe_neu            138593 non-null  int64
 117  facebook_neu        138593 non-null  int64
 118  insta_neu           138593 non-null  int64
 119  kakao_neu           138593 non-null  int64
 120  pr_neu              138593 non-null  int64
 121  qna_neu             138593 non-null  int64
 122  youtube_neu         138593 non-null  int64
 123  wd_0                138593 non-null  int64
 124  wd_1                138593 non-null  int64
 125  wd_2                138593 non-null  int64
 126  wd_3                138593 non-null  int64
 127  wd_4                138593 non-null  int64
 128  wd_5                138593 non-null  int64
 129  wd_6                138593 non-null  int64
 130  ln_buzz_total       138593 non-null  float64
 131  ln_buzz_pos         138593 non-null  float64
 132  ln_buzz_neg         138593 non-null  float64
 133  ln_com_pos          138593 non-null  float64
 134  ln_news_pos         138593 non-null  float64
 135  ln_tw_pos           138593 non-null  float64
 136  ln_com_neg          138593 non-null  float64
 137  ln_news_neg         138593 non-null  float64
 138  ln_tw_neg           138593 non-null  float64
 139  ln_com_neu          138593 non-null  float64
 140  ln_news_neu         138593 non-null  float64
 141  ln_tw_neu           138593 non-null  float64
 142  ln_com_total        138593 non-null  float64
 143  ln_news_total       138593 non-null  float64
 144  ln_tw_total         138593 non-null  float64
 145  ln_comtwnews_total  138593 non-null  float64
 146  ln_blog_pos         138593 non-null  float64
 147  ln_cafe_pos         138593 non-null  float64
 148  ln_facebook_pos     138593 non-null  float64
 149  ln_insta_pos        138593 non-null  float64
 150  ln_kakao_pos        138593 non-null  float64
 151  ln_pr_pos           138593 non-null  float64
 152  ln_qna_pos          138593 non-null  float64
 153  ln_youtube_pos      138593 non-null  float64
 154  ln_blog_neg         138593 non-null  float64
 155  ln_cafe_neg         138593 non-null  float64
 156  ln_facebook_neg     138593 non-null  float64
 157  ln_insta_neg        138593 non-null  float64
 158  ln_kakao_neg        138593 non-null  float64
 159  ln_pr_neg           138593 non-null  float64
 160  ln_qna_neg          138593 non-null  float64
 161  ln_youtube_neg      138593 non-null  float64
 162  ln_blog_neu         138593 non-null  float64
 163  ln_cafe_neu         138593 non-null  float64
 164  ln_facebook_neu     138593 non-null  float64
 165  ln_insta_neu        138593 non-null  float64
 166  ln_kakao_neu        138593 non-null  float64
 167  ln_pr_neu           138593 non-null  float64
 168  ln_qna_neu          138593 non-null  float64
 169  ln_youtube_neu      138593 non-null  float64
 170  month               138593 non-null  int64
 171  year                138593 non-null  int64
 172  week                138593 non-null  int64
dtypes: float64(53), int64(115), object(5)
memory usage: 184.0+ MB

<ipython-input-193-7762c80da6bf>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df6.info(verbose=True, null_counts=True)

In [194]:
df6.to_csv("game_master_ver1.csv")